@model partner_aluro.Models.Category

        @{
            @if (@Model != null )
            {
                <div class="row g-3">
                    <div class="col-sm-6">
                        <label asp-for="@Model.CategoryId" class="form-label">Id @Model.CategoryId</label>
                        <input type="hidden" asp-for="@Model.CategoryId" class="form-control" aria-required="true" />
                        <span asp-validation-for="@Model.CategoryId" class="text-danger">
                        </span>
                    </div>
                </div>

                <div class="row g-3">
                    <div class="col-sm-6">
                        <label asp-for="@Model.kolejnosc" class="form-label">Kolejnosc</label>
                        <input asp-for="@Model.kolejnosc" class="form-control" aria-required="true" value="@Model.kolejnosc"/>
                        <span asp-validation-for="@Model.kolejnosc" class="text-danger">
                        </span>
                    </div>
                </div>
            }
        }
<div class="row g-3">
    <div class="col-sm-6">
        <label asp-for="@Model.Name" class="form-label">Nazwa katalogu</label>
        <input asp-for="@Model.Name" class="form-control" aria-required="true" placeholder="Nazwa kategori" />
        <span asp-validation-for="@Model.Name" class="text-danger">
        </span>
    </div>
</div>

<div class="form-group">
    <label asp-for="@Model.ParentId" class="control-label">Kategoria nadrzędna</label>
    <select asp-for="@Model.ParentId" class="form-control" asp-items="(IEnumerable<SelectListItem>)@ViewData["kategorie"]">
    </select>
</div>




@Html.RadioButtonFor(model => model.Aktywny, true) Aktywny
<br />
@Html.RadioButtonFor(model => model.Aktywny, false) Nieaktywny
<br />

@*<div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
    <label class="form-check-label" for="flexRadioDefault1">
        Aktywny
    </label>
</div>
<div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
    <label class="form-check-label" for="flexRadioDefault2">
        Nieaktywny
    </label>
</div>*@

<div class="row g-3">
    <div class="col-sm-6">
        <label asp-for="@Model.Description" class="form-label">Opis kategorii</label>
        <textarea asp-for="@Model.Description" class="form-control" rows="3" placeholder="Opis kategori."></textarea>
        <span asp-validation-for="@Model.Description" class="text-danger">
        </span>
    </div>
</div>


@*    <span>Nazwa kategori:</span> @Html.TextBoxFor(x=>x.Name)
    <span>Opis kategori: </span>@Html.TextBoxFor(x=>x.Description)
*@