@*@model partner_aluro.Models.Cart*@

@model partner_aluro.ViewModels.CartOrderViewModel

<h4 class="mb-4">Zamówienie</h4>
<hr class="mb-4">

@if (Model.Carts.CartItems.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>Obrazek</th>
                <th>Nazwa produktu</th>
                <th>Symbol</th>
                <th>Cena jednostkowa</th>
                <th>Ilość</th>
                <th>Razem</th>
                <th>Usuń</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Carts.CartItems)
            {
                var CenaJednostkowa = item.Product.CenaProduktu * (1 - (partner_aluro.Core.Constants.Rabat / 100));

                var ProductTotal = CenaJednostkowa * item.Quantity;
                <tr>
                    <td>
                        <img src="~/images/produkty/@item.Product.Symbol/@item.Product.ImageUrl"  style="height: 4em">
                    </td>
                    <td>
                        <a class="text-black" asp-controller="Product" asp-action="Details" asp-route-id="@item.Product.ProductId">@item.Product.Name</a>
                    </td>
                    <td>
                        @item.Product.Symbol
                    </td>
                    <td>
                        @CenaJednostkowa.ToString("C")
                    </td>
                    <td>
                        <a asp-controller="Cart" asp-action="ReduceQuantity" asp-route-id="@item.Product.ProductId"><i class="fa-solid fa-minus"></i></a>
                        @item.Quantity
                        <a asp-controller="Cart" asp-action="IncreaseQuantity" asp-route-id="@item.Product.ProductId"><i class="fa-solid fa-plus"></i></a>
                    </td>
                    <td>
                        @ProductTotal.ToString("C")
                    </td>
                    <td>
                        <a asp-controller="Cart" asp-action="RemoveFromCart" asp-route-id="@item.Product.ProductId" class="text-danger"><i class="fa-solid fa-xmark"></i></a>
                    </td>
                </tr>
            }
        </tbody>

        <tfoot>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="text"><strong>Total: </strong></td>
        <td>
            <strong>@Model.Carts.GetCartTotal().ToString("C")</strong>
        </td>
        <td></td>
        </tfoot>
    </table>
     @*   <form asp-action="Return" asp-controller="Cart" method="POST" >
            <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
            <button class="btn btn-success float-right mr-5" type="submit" name="returnUrl" value="@ViewBag.returnUrl"><i class="fa-solid fa-angles-right"></i>Powrót</button>
        </form>*@
   <a class="a-cleanup" asp-controller="Cart" asp-action="ClearCart"><div class="btn btn-danger float-right mr-5"><i class="fa-solid fa-trash-can"></i>Wyczyść zamówienie</div></a>
}
else
{
    <h3 class="text-center">Koszyk jest pusty</h3>
}



@if (Model != null)
{
    @*Powrót do sklepu*@
    <form asp-action="Checkout" asp-controller="Order" method="POST" class="needs-validation" novalidate>
    @*@Html.ValidationSummary()*@

        @Html.HiddenFor(h=>Model.Orders.User.Id)

        @Html.Partial("_AdressForm")

        <button class="btn btn-primary btn-lg btn-block" type="submit">Złóż zamówienie</button>
    </form>
}