<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="~/lib/bootstrap/css/bootstrap.min.css?v1.1.1" rel="stylesheet" />

    <link href="~/dashboard/css/style.css?v=1.1.1>" rel="stylesheet" />
    <link href="~/lib/datatables/css/jquery.datatables.min.css" rel="stylesheet" />
    <link href="~/lib/datatables.net-fixedheader-dt/fixedheader.datatables.min.css" rel="stylesheet" />

    @RenderSection("LinkStyleHead", required: false)

    <title>Aluro - panel zarządzania</title>

</head>
<body>

    <div class="offcanvas offcanvas-start bg-dark show" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title link-light" id="offcanvasExampleLabel">

                <a class="navbar-brand me-auto ms-lg-0 ms-3 text-uppercase fw-bold"
                   asp-controller="Category" asp-action="Lista1">Aluro</a>

            </h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>

        <nav class="navbar-dark">
                    <ul class="navbar-nav">
                    <li>
                        <a href="@Url.Action("Index","Home")" class="nav-link px-3">
                            <span>Strona głowna</span> 
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","Slider")" class="nav-link px-3">
                            <span>Slider</span> 
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","Newsletter")" class="nav-link px-3">
                            <span>Newsletter</span>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link px-3" asp-area="" asp-controller="Order" asp-action="ListaZamowien">Zamówienia 
                            @await Component.InvokeAsync("OrderStatus")
                            </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Lista","Cart")" class="nav-link px-3">
                            <span>Koszyki</span>
                        </a>
                    </li>
                <li>
                    <a href="@Url.Action("ListaLastBay","Cart")" class="nav-link px-3">
                        <span>Ostatnie zamowienia</span>
                    </a>
                </li>
                    <li>
                        <a class="nav-link px-3" asp-area="" asp-controller="Image" asp-action="Index">Media</a>
                    </li>
                    <li class="my-4"><hr class="dropdown-divider bg-light" /></li>
                    <li>
                        <a asp-controller="User" asp-action="Index" class="nav-link px-3 sidebar-link>
                            <span class="me-2"><i class="bi bi-user-fill"></i></span>
                            <span>Użytkownicy</span> @await Component.InvokeAsync("UserNewStatus")
                        </a>
                    </li>
                    <li>
                        <a class="nav-link px-3" asp-area="" asp-controller="Profildzialalnosci" asp-action="Index">Profile dzialalnosci</a>
                    </li>
                    <li class="my-4"><hr class="dropdown-divider bg-light" /></li>
                    <li>
                        <a class="nav-link px-3 sidebar-link"
                           data-bs-toggle="collapse"
                           href="#layouts">
                            <span class="me-2"><i class="bi bi-layout-split"></i></span>
                            <span>Produkty</span>
                            <span class="ms-auto">
                                <span class="right-icon">
                                    <i class="bi bi-chevron-down"></i>
                                </span>
                            </span>
                        </a>

                            <ul class="navbar-nav ps-3">
                                <li>
                                     <a asp-controller="Product" asp-action="Add" class="nav-link px-3">
                                        <span class="me-2">
                                        </span>
                                        <span>Dodaj produkt</span>
                                    </a>
                                </li>
                            </ul>
                            <ul class="navbar-nav ps-3">
                                <li>
                                    <a asp-controller="Product" asp-action="List" class="nav-link px-3">
                                        <span class="me-2">
                                        </span>
                                        <span>Lista produktów</span>
                                    </a>
                                </li>
                            </ul>

                    </li>
                    <li>
                        <a class="nav-link px-3 sidebar-link"
                           data-bs-toggle="collapse"
                           href="#layouts2">
                            <span class="me-2"><i class="bi bi-layout-split"></i></span>
                            <span>Kategorie</span>
                            <span class="ms-auto">
                                <span class="right-icon">
                                    <i class="bi bi-chevron-down"></i>
                                </span>
                            </span>
                        </a>
                        <div class="collapse" id="layouts2">
                            <ul class="navbar-nav ps-3">
                                <li>
                                    <a asp-controller="Category" asp-action="Add" class="nav-link px-4">
                                        <span class="me-3">
                                        </span>
                                        <span>Dodaj kategorie</span>
                                    </a>
                                </li>
                            </ul>
                            <ul class="navbar-nav ps-3">
                                <li>
                                    <a asp-controller="Category" asp-action="List" class="nav-link px-4">
                                        <span class="me-3">
                                        </span>
                                        <span>Lista kategori</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="@Url.Action("Edit","Setting")" class="nav-link px-3">
                            <span>Ustawienia </span>
                        </a>
                    </li>

                    <li>
                        <a href="@Url.Action("Ustawienia","GenerateXML")" class="nav-link px-3">
                            <span>Ustawienia generowania XML</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","MetodyDostawy")" class="nav-link px-3">
                            <span>Metody dostawy</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","MetodyPlatnosci")" class="nav-link px-3">
                            <span>Metody płatności</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","ApiNBPKurs")" class="nav-link px-3">
                            <span>Kurs Valut</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","SMS")" class="nav-link px-3">
                            <span>Ustawienia SMS</span>
                        </a>
                    </li>
                    <li>
                        <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            <button id="logout" type="submit" class="dropdown-item">Wyloguj</button>
                        </form>
                    </li>
                </ul>
            </nav>
    </div>
    <!-- offcanvas -->
    <main>
        <div class="container-fluid">

            <div class="position-absolute text-black link-dark" style="height:100%; width:50px; top:56px; left:2px; z-index:50">
                <a style="font-size: 25px" class="text-decoration-none  text-black link-dark" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
                    |>
                </a>
            </div>
            @RenderBody()
        </div>
    </main>

    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery/jquery.min.js"></script>

    <script src="~/lib/datatables/js/jquery.datatables.js"></script>
    <script src="~/lib/datatables-fixedheader/datatables.fixedheader.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
