<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/dashboard/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" />

    <link rel="stylesheet" href="~/dashboard/css/style.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/fixedheader/3.3.1/css/fixedHeader.dataTables.min.css" />

    @RenderSection("LinkStyleHead", required: false)

    <title>Aluro - panel zarządzania</title>

</head>
<body>
    <!-- top navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="offcanvas"
                    data-bs-target="#sidebar"
                    aria-controls="offcanvasExample">
                <span class="navbar-toggler-icon" data-bs-target="#sidebar"></span>
            </button>
            <a class="navbar-brand me-auto ms-lg-0 ms-3 text-uppercase fw-bold"
               asp-controller="Category" asp-action="Lista1">Aluro</a>
            <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#topNavBar"
                    aria-controls="topNavBar"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="topNavBar">
                <form class="d-flex ms-auto my-3 my-lg-0">
                    <div class="input-group">
                        <input class="form-control"
                               type="search"
                               placeholder="Szukaj"
                               aria-label="Search" />
                        <button class="btn btn-primary" type="submit">
                            <i class="bi bi-search"></i>
                        </button>
                    </div>
                </form>
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle ms-2"
                           href="#"
                           role="button"
                           data-bs-toggle="dropdown"
                           aria-expanded="false">
                            <i class="bi bi-person-fill"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="@Url.Action("Index","Home")">Strona Aluro</a></li>
                            <li>
                                <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                    <button id="logout" type="submit" class="dropdown-item">Wyloguj</button>
                                </form></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- top navigation bar -->
    <!-- offcanvas -->
    <div class="offcanvas offcanvas-start sidebar-nav bg-dark"
         tabindex="-1"
         id="sidebar">
        <div class="offcanvas-body p-0">
            <nav class="navbar-dark">
                <ul class="navbar-nav">
                    <li>
                        <div class="text-muted small fw-bold text-uppercase px-3">
                            CORE
                        </div>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","Home")" class="nav-link px-3">
                            <span>Strona głowna</span> 
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","Slider")" class="nav-link px-3">
                            <span>Slider</span> 
                        </a>
                    </li>
                    
                    <li>
                        <a href="@Url.Action("Index","Newsletter")" class="nav-link px-3">
                            <span>Newsletter</span>
                        </a>
                    </li>
                    
                    <li>
                        <a class="nav-link px-3" asp-area="" asp-controller="Order" asp-action="ListaZamowien">Zamówienia</a>
                    </li>
                    
                    <li>
                        <a href="@Url.Action("Lista","Cart")" class="nav-link px-3">
                            <span>Koszyki</span>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link px-3" asp-area="" asp-controller="Image" asp-action="Index">Media</a>
                    </li>
                    <li class="my-4"><hr class="dropdown-divider bg-light" /></li>
                    <li>
                        <a asp-controller="User" asp-action="Index" class="nav-link px-3 sidebar-link>
                            <span class="me-2"><i class="bi bi-user-fill"></i></span>
                            <span>Użytkownicy</span>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link px-3" asp-area="" asp-controller="Profildzialalnosci" asp-action="Index">Profile dzialalnosci</a>
                    </li>
                    <li class="my-4"><hr class="dropdown-divider bg-light" /></li>
                    <li>
                        <div class="text-muted small fw-bold text-uppercase px-3 mb-3">
                            Interface
                        </div>
                    </li>
                    <li>
                        <a class="nav-link px-3 sidebar-link"
                           data-bs-toggle="collapse"
                           href="#layouts">
                            <span class="me-2"><i class="bi bi-layout-split"></i></span>
                            <span>Produkty</span>
                            <span class="ms-auto">
                                <span class="right-icon">
                                    <i class="bi bi-chevron-down"></i>
                                </span>
                            </span>
                        </a>
                       @* <div class="collapse" id="layouts">*@
                            <ul class="navbar-nav ps-3">
                                <li>
                                     <a asp-controller="Product" asp-action="Add" class="nav-link px-3">
                                        <span class="me-2">
                                        </span>
                                        <span>Dodaj produkt</span>
                                    </a>
                                </li>
                            </ul>
                            <ul class="navbar-nav ps-3">
                                <li>
                                    <a asp-controller="Product" asp-action="List" class="nav-link px-3">
                                        <span class="me-2">
                                        </span>
                                        <span>Lista produktów</span>
                                    </a>
                                </li>
                            </ul>
                        @*</div>*@
                    </li>
                    <li>
                        <a class="nav-link px-3 sidebar-link"
                           data-bs-toggle="collapse"
                           href="#layouts2">
                            <span class="me-2"><i class="bi bi-layout-split"></i></span>
                            <span>Kategorie</span>
                            <span class="ms-auto">
                                <span class="right-icon">
                                    <i class="bi bi-chevron-down"></i>
                                </span>
                            </span>
                        </a>
                        <div class="collapse" id="layouts2">
                            <ul class="navbar-nav ps-3">
                                <li>
                                    <a asp-controller="Category" asp-action="Add" class="nav-link px-4">
                                        <span class="me-3">
                                        </span>
                                        <span>Dodaj kategorie</span>
                                    </a>
                                </li>
                            </ul>
                            <ul class="navbar-nav ps-3">
                                <li>
                                    <a asp-controller="Category" asp-action="List" class="nav-link px-4">
                                        <span class="me-3">
                                        </span>
                                        <span>Lista kategori</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    @*<li class="my-4"><hr class="dropdown-divider bg-light" /></li>
                    <li>
                        <div class="text-muted small fw-bold text-uppercase px-3 mb-3">
                            Addons
                        </div>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-3">
                            <span class="me-2"><i class="bi bi-graph-up"></i></span>
                            <span>Charts</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-3">
                            <span class="me-2"><i class="bi bi-table"></i></span>
                            <span>Tables</span>
                        </a>
                    </li>*@
                    @*<li>
                        <a href="@Url.Action("DeserializeXML","GenerateXML")" class="nav-link px-3">
                            <span>DeserializeXML</span>
                        </a>
                    </li>*@
                    <li>
                        <a href="@Url.Action("Edit","Setting")" class="nav-link px-3">
                            <span>Ustawienia </span>
                        </a>
                    </li>

                    <li>
                        <a href="@Url.Action("Ustawienia","GenerateXML")" class="nav-link px-3">
                            <span>Ustawienia generowania XML</span>
                        </a>
                    </li>
                    @*<li>
                        <a href="@Url.Action("DodajProduktyZPrestashop","ConnectPrestashop")" class="nav-link px-3">
                            <span>Dodaj produkty z Prestashop do bazy glownej </span>
                        </a>
                    </li>*@
                    @*<li>
                        <a href="@Url.Action("Pobierz","Download")" class="nav-link px-3">
                            <span>Pobierz z URL </span>
                        </a>
                    </li>*@


                  @*  <li>
                        <a href="@Url.Action("ProductNazwyPrestashop","ConnectPrestashop")" class="nav-link px-3">
                            <span>Nazwy produktow z Prestashop</span>
                        </a>
                    </li>*@
                    @*<li>
                        <a href="@Url.Action("ProductQuantityPrestashop","ConnectPrestashop")" class="nav-link px-3">
                            <span>Ilosci z Prestashop </span>
                        </a>
                    </li>*@
                    @*<li>
                    <a href="@Url.Action("AddressPrestashop","ConnectPrestashop")" class="nav-link px-3">
                    <span>Adressy z Prestashop init</span>
                    </a>
                    </li>*@
                    @* <li>
                    <a href="@Url.Action("ProductPrestashop","ConnectPrestashop")" class="nav-link px-3">
                    <span>Produkty z Prestashop</span>
                    </a>
                    </li>
                    <li>
                    <a href="@Url.Action("AddressPrestashop","ConnectPrestashop")" class="nav-link px-3">
                    <span>Address z Prestashop</span>
                    </a>
                    </li>
                    <li>
                    <a href="@Url.Action("UsersPrestahop","ConnectPrestashop")" class="nav-link px-3">
                    <span>Uzytkownicy z Prestashop</span>
                    </a>
                    </li>*@
                    @*<li>
                    <a href="@Url.Action("CenaPromocyjnaChangeNotNull","InicializerProductCategory")" class="nav-link px-3">
                            <span>Ceny Nul Promocja</span>
                        </a>
                    </li>*@
                    <li>
                        <a href="@Url.Action("Index","MetodyDostawy")" class="nav-link px-3">
                            <span>Metody dostawy</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","MetodyPlatnosci")" class="nav-link px-3">
                            <span>Metody płatności</span>
                        </a>
                    </li>
                    @*<li>
                        <a href="@Url.Action("DodajProduktyZPrestashop","ConnectPrestashop")" class="nav-link px-3">
                        <span>Aktualizuj produkty</span>
                        </a>
                    </li>*@

                    <li>
                        <a class="nav-link px-3" asp-area="" asp-controller="Email" asp-action="Index">Konfiguracja Email</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","ApiNBPKurs")" class="nav-link px-3">
                            <span>Kurs Valut</span>
                        </a>
                    </li>
                    @*<li>
                        <a href="@Url.Action("ImagePathZnakSpecjalny","InicializerProductCategory")" class="nav-link px-3">
                            <span>Popraw sciezke do image</span>
                        </a>
                    </li>*@
                    @*<li>ImagePathZnakSpecjalny
                        <a href="@Url.Action("ImageNameRemoveIfDuplicate","InicializerProductCategory")" class="nav-link px-3">
                            <span>Usun duplikaty z bazy danych</span>
                        </a>
                    </li>*@
                   @* <li>
                        <a href="@Url.Action("AdresDostawyNullAdress","InicializerProductCategory")" class="nav-link px-3">
                            <span>Usun adresy null</span>
                        </a>
                    </li>*@
                    <li>
                        <a href="@Url.Action("Index","SMS")" class="nav-link px-3">
                            <span>Ustawienia SMS</span>
                        </a>
                    </li>
                    @*<li>
                        <a href="@Url.Action("EAN13Init","InicializerProductCategory")" class="nav-link px-3">
                            <span>EAN13ZPrestashop</span>
                        </a>
                    </li>*@
                    @*<li>
                        <a href="@Url.Action("ImageCompres250x250","InicializerProductCategory")" class="nav-link px-3">
                            <span>Utworz skompresowane obrazki</span>
                        </a>
                    </li>*@
                    @*<li>
                        <a href="@Url.Action("ImageFrontSetCompresImage","InicializerProductCategory")" class="nav-link px-3">
                            <span>Ustaw skompresowane obrazki frontowe</span>
                        </a>
                    </li>*@
                </ul>
            </nav>
        </div>
    </div>
    <!-- offcanvas -->
    <main class="mt-5 pt-3">
        <div class="container-fluid">
@*                    <h4>Panel zarządzania</h4>*@
                    @RenderBody()
        </div>
    </main>


@*    <script>
        $(document).ready(function () {
            $('#example').DataTable();
        });
        </script>*@

    <script src="~/dashboard/js/bootstrap.bundle.min.js"></script>
    <script src="~/dashboard/js/jquery-3.5.1.js"></script>
    @*<script src="~/dashboard/js/scriptorder.js"></script>*@

    <script src="~/lib/datatables/js/jquery.datatables.js"></script>
    <script src="~/lib/datatables-fixedheader/datatables.fixedheader.min.js"></script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
