@model partner_aluro.ViewModels.EmailViewModel

<div class="text-center">
    <h1 class="display-4">Wyślij email</h1>
    <form asp-controller="Email" asp-action="SendEmailFromConf">
        <div class="row">

            <label class="form-label" asp-for="@Model.Send.Subject">Tytuł wiadomości</label>
            <input class="input-group" type="text" asp-for="@Model.Send.Subject" />
        </div>
        <div class="row">
            <label class="form-label" asp-for="@Model.Send.Body">Wiadomość</label>
            <textarea asp-for="@Model.Send.Body" id="editor"> </textarea>
        </div>
        <div class="row">
            <label class ="form-label" asp-for="@Model.Send.To">Do</label>
            <input type="text" asp-for="@Model.Send.To" />
        </div>
        <div class="row">
            <input class="btn btn-success" type="submit" value="Send" />
        </div>
    </form>

</div>