

    @inject LanguageService language

<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class="row justify-content-center align-items-center">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-10 col-xxl-8">
                    <div class="text-center text-md-start mt-1">
                        <!-- Grid row -->
                        <div class="row mt-3">
                            <!-- Grid column -->
                            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto ">
                                <!-- Content -->
                                <h6 class="text-uppercase fw-bold">
                                ALURO - fashion at home
                                </h6>
                            <p><i class="fas fa-home me-3"></i> 
                                Showroom:<br />
                                ul. Gnieźnieńska 161<br />
                                62-006 Bogucin
                                </p>
                            <p>
                                <i class="fas fa-envelope me-3"></i>
                                kontakt@aluro.pl
                            </p>
                            <p><i class="fas fa-phone me-3"></i> (0048) 61 306 70 60</p>
                            <p>
                            @language.Getkey("godz. otwarcia")<br />
                            @language.Getkey("w tygodniu") 9:00-17:00<br />
                            </p>
                            </div>
                            <!-- Grid column -->
                            <!-- Grid column -->
                            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto">
                                <!-- Links -->
                            <h6 class="text-uppercase fw-bold px-3">
                                @language.Getkey("Zarządzaj kontem")
                                </h6>
                                <p>
                                <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index"
                                   title="Manage">@language.Getkey("Moje konto")</a>

                                </p>
                                <p>
                                <a class="dropdown-item" asp-controller="Order" asp-action="ListaZamowienZalogowanegoUzytkownika">@language.Getkey("Historia zamówień")</a>
                                </p>
                                @*<p>
                                <a href="#!" class="dropdown-item">@language.Getkey("Moje informacje osobiste")</a>
                                </p>*@
                                <p>
                                <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                    <button id="logout" type="submit" class="dropdown-item">@language.Getkey("Wyloguj")</button>
                                </form>
                                </p>
                            </div>
                            <!-- Grid column -->
                            <!-- Grid column -->
                        <div class="col-md-3 col-lg-3 col-xl-3">
                                <!-- Links -->
                            <h6 class="text-uppercase fw-bold px-3">
                                @language.Getkey("Informacje")
                                </h6>
                                <p>
                                <a class="dropdown-item" asp-controller="Home" asp-action="IntegracjaXML">@language.Getkey("Integracja XML")</a>
                                </p>
                                <p>
                                <a href="https://onedrive.live.com/?cid=e3384b60395d8a69&id=E3384B60395D8A69%21492&ithint=folder,png&authkey=!AKD8Z89gR9FPQ9w" target="_blank" class="dropdown-item">@language.Getkey("Baza zdjęć produktów aluro")</a>
                                </p>
                            </div>
                            <!-- Grid column -->
                            <!-- Grid column -->
                            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto ">
                                <!-- Links -->
                            <h6 class="text-uppercase fw-bold px-3">@language.Getkey("Ważne informacje")</h6>
                                <p>
                                <a asp-action="WarunkiSprzedazy" asp-controller="Home" class="dropdown-item">@language.Getkey("Ogólne warunki sprzedaży")</a>
                                </p>
                                <p>
                                <a asp-action="PlatnoscDostawa" asp-controller="Home" class="dropdown-item">@language.Getkey("Płatność i dostawa")</a>
                                </p>
                            </div>
                            <!-- Grid column -->
                        </div>
                        <!-- Grid row -->
                    </div>

                <!-- Section: Links  -->
                <!-- Copyright -->
                <div class="text-center">
                ALURO fashion at home<br />
                @language.Getkey("Potrzebujesz pomocy? Zadzwoń"): 0048 61 306 70 60<br>
                Copyright © 2014 - @language.Getkey("Wszelkie prawa zastrzeżone.")<br />
                </div>
                <!-- Copyright -->

        </div>
    </div>
</div>