@model partner_aluro.Models.Slider

<div class="row">
    <div class="row">
        <div class="col">
            Ustawienia slider
        </div>
    </div>

      <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="@Model.ImageSliderID" class="control-label">Slider ID</label>
                <input type="text" asp-for="@Model.ImageSliderID" readonly/>
                <span asp-validation-for="@Model.ImageSliderID" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="@Model.Name" class="control-label"></label>
                <input type="text" asp-for="@Model.Name" />
                <span asp-validation-for="@Model.Name" class="text-danger"></span>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="@Model.ObrazkiDostepneWSliderze" class="control-label"> Dodaj obrazy: </label>

                <input type="file" asp-for="@Model.ObrazkiDostepneWSliderze" id="images" name="images[]" onchange="preview_images();" multiple accept="image/jpeg, image/png, image/jpg" />

               @* <input type="file" id="images" onchange="preview_images()" multiple accept="image/jpeg, image/png, image/jpg" />
               *@ @* <span asp-validation-for="@Model.ObrazkiDostepneWSliderze" class="text-danger"></span>*@
            </div>

            <div class="row" id="image_preview">
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12 mb-3">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="SliderTable" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>Obrazek</th>
                                    <th>Kolejnosc</th>
                                    <th>Akcje</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var image in Model.ObrazkiDostepneWSliderze)
                                {
                                    <tr>
                                        <td>
                                            <img src="~/img/sliderhome/@Model.ImageSliderID/@image.ImageName" alt="Logo image" width="100" height="100" style="border:1px; margin-top:20px;" />
                                        </td>
                                        <td>@image.kolejnosc</td>


                                        <td>
                                            <a asp-action="Edit" asp-controller="Image" asp-route-id="@image.ImageId">Edit</a> |
                                            <a asp-action="Details" asp-controller="Image" asp-route-id="@image.ImageId">Details</a> |
                                            <a asp-action="Delete" asp-controller="Image" asp-route-id="@image.ImageId">Delete</a>
                                        </td>


                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @*Tu nie dziala bo to partial*@
}