@model partner_aluro.Models.Product

@*        <div class="row">
            <div class="col-md-4">
                    <div class="form-group">
                    <input asp-for="product_Image.ImageFile" accept="img/png,img/jpg,img/jpeg" class="custom-file-input" id="FLFrontImage"
                           onchange="document.getElementById('FrontImagePrv').src = window.URL.createObjectURL(this.files[0])" /> @*/img/png,img/jpg
                        <span asp-validation-for="product_Image.ImageFile" class="text-danger"></span>
                    </div>

            </div>
        </div>*@


        <div class="form-group border">
            <label asp-for="@Model.ImageUrl" class="control-label">Obrazek prezentujacy (front)</label>
            <img id="FrontImagePrv" src="~/img/p/@Model.Symbol/@Model.ImageUrl" alt="Logo image" width="150" height="150" style="border:1px; margin-top:20px; margin-left:120px" />
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="@Model.Product_Images" class="control-label"></label>
                    <input type="file" asp-for="@Model.Product_Images" id="images" name="images[]" onchange="preview_images();" multiple accept="image/jpeg, image/png, image/jpg" />
            <span asp-validation-for="@Model.Product_Images" class="text-danger"></span>
                </div>

            </div>
        </div>

        <div class="row" id="image_preview">
        </div>

        @if (Model.Product_Images != null)
        {
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="table-responsive">
                        <table id="ProductEditImage" class="display" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>Obrazek</th>
                                                <th>Kolejnosc</th>
                                                <th>Akcje</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                                @foreach (var image in Model.Product_Images)
                                                {
                                                <tr>
                                                    <td>
                                                            <img src="~/img/p/@Model.Symbol/@image.ImageName" alt="Logo image" width="100" height="100" style="border:1px; margin-top:20px;" />
                                                    </td>
                                                        <td>@image.kolejnosc</td>


                                                    <td>
                                            <a asp-action="Edit"   asp-controller="Image" asp-route-id="@image.ImageId">Edit</a> |
                                            <button class="btn btn-success" onclick="DeleteImage(@image.ImageId)">Usuń</button>
                                                    </td>


                                                </tr>
                                                }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
        }

