@model partner_aluro.Models.Newsletter

<div class="form-group row">

    <div class="col">
        <div class="form-group row">

        <label asp-for="@Model.NewsletterID" class="col-sm-3 col-form-label text-end">Newsletter ID</label>
            <div class="col-sm-4">
                <input asp-for="@Model.NewsletterID" class="form-control" aria-required="true" readonly />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="@Model.Nazwa" class="col-sm-4 col-form-label text-end">Nazwa Newsletter </label>
                <div class="col-sm-8">
                <input asp-for="@Model.Nazwa" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.Nazwa" class="text-danger">
                </span>
                </div>
        </div>

        <div class="form-group row p-2">
            <label asp-for="@Model.MessagerBody" class="col col-form-label">Wiadomość e-mail</label>
            <textarea asp-for="@Model.MessagerBody" id="editor"></textarea>
        </div>

        

         <div class="form-group">
            <label asp-for="@Model.listaEmail" class="control-label">Lista emaili ktorzy akceptuja newsletter</label>
            <div class="row">
                <div class="col">
                    Email:
                </div>
            </div>
            @foreach (string email in Model.listaEmail)
            {
                <div class="row">
                    <div class="col">
                        @email
                    </div>
                </div>
            }
        </div>


        <div>
            <label class="control-label">Wybierz produkty do wiadomosci newsletter</label>
            <select class="form-control" asp-items="ViewBag.Produkty"></select>
                @*<option>Select one</option>*@
        </div>
    </div>
</div>