@model partner_aluro.Models.Product

<input asp-for="@Model.ProductId" class="form-control" aria-required="true" readonly/>


        <div class="form-group row">
            <label asp-for="@Model.Name" class="col-sm-3 col-form-label text-end">Nazwa produktu</label>
                <div class="col-sm-6">
                <input asp-for="@Model.Name" class="form-control" aria-required="true"  placeholder="Nazwa produktu" />
                <span asp-validation-for="@Model.Name" class="text-danger">
                </span>
                </div>
        </div>

        <div class="form-group row">
        <label asp-for="@Model.Symbol" class="col-sm-3 col-form-label text-end">Symbol</label>
            <div class="col-sm-4">

        @if (@Model.Symbol == null)
        {
            <input required pattern="[^' ']+" asp-for="@Model.Symbol" class="form-control" aria-required="true" placeholder="Symbol" />
        }else
        {
            <input asp-for="@Model.Symbol" class="form-control" aria-required="true" placeholder="Symbol" readonly="readonly" />
        }

            <span asp-validation-for="@Model.Symbol" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row p-2">
            <label asp-for="@Model.KrotkiOpis" class="col-sm-4 col-form-label">Krótki opis</label>
            <textarea asp-for="@Model.KrotkiOpis" id="#textarea" class="form-control" rows="2"></textarea>
        </div>

        <div class="form-group row">
            <label asp-for="@Model.EAN13" class="col-sm-3 col-form-label text-end">EAN13 </label>
            <div class="col-sm-4">
        <input asp-for="@Model.EAN13" class="form-control" aria-required="true" placeholder="EAN13" />
                <span asp-validation-for="@Model.EAN13" class="text-danger">
                </span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="@Model.CenaProduktu" class="col-sm-3 col-form-label text-end">Cena produktu hurt (netto) </label>
                <div class="col-sm-4">
                <input asp-for="@Model.CenaProduktu" class="form-control" aria-required="true" placeholder="Cena produktu" />
                <span asp-validation-for="@Model.CenaProduktu" class="text-danger">
                </span>
                </div>
        </div>
        <div class="form-group row">
            <label asp-for="@Model.CenaProduktuDetal" class="col-sm-3 col-form-label text-end">Cena detaliczna: </label>
                <div class="col-sm-4">
                <input asp-for="@Model.CenaProduktuDetal" class="form-control" aria-required="true" placeholder="Cena detaliczna produktu" />
                <span asp-validation-for="@Model.CenaProduktuDetal" class="text-danger">
                </span>
                </div>
        </div>

        <div class="form-group row">
            <label asp-for="@Model.Ilosc" class="col-sm-3 col-form-label text-end">Ilość: </label>
                <div class="col-sm-4">
                <input asp-for="@Model.Ilosc" class="form-control" aria-required="true"/>
                <span asp-validation-for="@Model.Ilosc" class="text-danger">
                </span>
                </div>
        </div>

        <div class="form-group row">
            <label asp-for="@Model.Materiał" class="col-sm-3 col-form-label text-end">Materiał: </label>
            <div class="col-sm-4">
                <input asp-for="@Model.Materiał" class="form-control" aria-required="true" placeholder="Materiał" />
                <span asp-validation-for="@Model.Materiał" class="text-danger">
                </span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="@Model.Pakowanie:" class="col-sm-3 col-form-label text-end">Pakowanie:</label>
            <div class="col-sm-2">
                <input asp-for="@Model.Pakowanie" class="form-control" aria-required="true" placeholder="np: 1/2" />
                <span asp-validation-for="@Model.Pakowanie" class="text-danger">
                </span>
            </div>
        </div>
        <hr />
        <h4 class="mb-2">Wymiary</h4>
        <div class="input-group">
            Wymiary zewnętrzne:
            <label asp-for="@Model.SzerokoscProduktu" class="col-sm-2 col-form-label text-end">Szerokość:</label>
            <input asp-for="@Model.SzerokoscProduktu" type="text" class="form-control" aria-label="Szerokość produktu" placeholder="Szerokość produktu">
            <label asp-for="@Model.GlebokoscProduktu" class="col-sm-2 col-form-label text-end">Głębokość:</label>
            <input asp-for="@Model.GlebokoscProduktu" type="text" class="form-control" aria-label="Głębokość produktu" placeholder="Głębokość produktu">
            <label asp-for="@Model.WysokoscProduktu" class="col-sm-2 col-form-label text-end">Wysokość:</label>
            <input asp-for="@Model.WysokoscProduktu" type="text" class="form-control" aria-label="Wysokość produktu" placeholder="Wysokość produktu">
        </div>
        <div class="input-group">
            Wymiary wewnętrzne:
            <label asp-for="@Model.SzerokoscWewnetrznaProduktu" class="col-sm-2 col-form-label text-end">Szerokość:</label>
            <input asp-for="@Model.SzerokoscWewnetrznaProduktu" type="text" class="form-control" aria-label="Szerokość produktu" placeholder="Szerokość wew. produktu">
            <label asp-for="@Model.GlebokoscWewnetrznaProduktu" class="col-sm-2 col-form-label text-end">Głębokość:</label>
            <input asp-for="@Model.GlebokoscWewnetrznaProduktu" type="text" class="form-control" aria-label="Głębokość produktu" placeholder="Głębokość wew. produktu">
            <label asp-for="@Model.WysokoscWewnetrznaProduktu" class="col-sm-2 col-form-label text-end">Wysokość:</label>
            <input asp-for="@Model.WysokoscWewnetrznaProduktu" type="text" class="form-control" aria-label="Wysokość produktu" placeholder="Wysokość wew. produktu">
        </div>

        <div class="form-group row">
            <label asp-for="@Model.WagaProduktu:" class="col-sm-3 col-form-label text-end">Waga Produktu:</label>
            <div class="col-sm-2">
                <input asp-for="@Model.WagaProduktu" class="form-control" aria-required="true" placeholder="Waga produktu" />
                <span asp-validation-for="@Model.WagaProduktu" class="text-danger">
                </span>
            </div>
        </div>
        <hr />
        <div class="form-group">
            <label asp-for="@Model.Promocja" class="col-sm-3 col-form-label text-end">Cena promocyjna: </label>
            Tak @Html.RadioButtonFor(model => model.Promocja, "True", Model.Promocja == true ? new { Checked = "checked" } : null)
            Nie @Html.RadioButtonFor(model => model.Promocja, "False", Model.Promocja == false ? new { Checked = "unchecked" } : null)
            <span asp-validation-for="@Model.Promocja" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <label asp-for="@Model.CenaPromocyja" class="col-sm-3 col-form-label text-end">Cena promocyjna: </label>
                <div class="col-sm-4">
        <input asp-for="@Model.CenaPromocyja" class="form-control" aria-required="true" placeholder="Cena promocyjna" />
        <span asp-validation-for="@Model.CenaPromocyja" class="text-danger">
                </span>
                </div>
        </div>

        <hr class="my-4">
        <h4 class="mb-3">Kategoria Produktu</h4>

        <div class="form-group">
            <label asp-for="@Model.CategoryId" class="control-label">Kategoria Główna:</label>
            <select asp-for="@Model.CategoryId" class="form-control" asp-items="(IEnumerable<SelectListItem>)@ViewData["Category"]">
                @*<option>Select one</option>*@
            </select>
        </div>
        <div class="form-group row">
            <label asp-for="@Model.Description" class="col-sm-4 col-form-label">Opis produktu</label>
            <textarea asp-for="@Model.Description" id="#textarea" class="form-control" rows="3"></textarea>
        </div>

        <div class="form-group row">
            <label asp-for="@Model.DataDodania" class="col-sm-3 col-form-label text-end">DataDodania: </label>
            <div class="col-sm-4">
                <input asp-for="@Model.DataDodania" class="form-control" aria-required="true" placeholder="Materiał" readonly="readonly" />
                <span asp-validation-for="@Model.DataDodania" class="text-danger">
                </span>
            </div>
        </div>

        <h4 class="mb-2">Widoczność</h4>
        <div class="form-group row border">
            <label class="radio-inline">
                @Html.RadioButtonFor(model => model.Ukryty , true) Wyłączone
            </label>
            <label class="radio-inline">
                @Html.RadioButtonFor(model => model.Ukryty , false) Włączone
            </label>
        </div>
@*
    <div class="col-md-6">
        <div class="form-group border">
            <label asp-for="@Model.ImageUrl" class="control-label">Obrazek prezentujacy (front)</label>
            <div class="custom-file">
                <input type="file" asp-for="@Model.ImageUrl" name="@Model.ImageUrl" class="custom-file-input" id="FLFrontImage"
                       onchange="document.getElementById('FrontImagePrv').src = window.URL.createObjectURL(this.files[0])" />
                <label class="custom-file-label" for="FLFrontImage"></label>
            </div>
            <img id="FrontImagePrv" src="~/img/produkty/@Model.Symbol/@Model.ImageUrl" alt="Logo image" width="150" height="150" style="border:1px; margin-top:20px; margin-left:120px" />
        </div>

        <div class="row">
            <div class="col-md-6">
                <input type="file" asp-for="@Model.product_Images" class="form-control" id="img" name="images[]" onchange="preview_img();" multiple accept="img/jpeg, ime/png, img/jpg" />
            </div>
        </div>

        @if (Model.product_Images != null)
        {
            @foreach (var image in Model.product_Images)
            {
                <img id="FrontImagePrv2" src="~/img/produkty/@Model.Symbol/@image.ImageName" alt="Logo image" width="150" height="150" style="border:1px; margin-top:20px; margin-left:120px" />
            }
        }

        <div class="row" id="image_preview">
            Tutaj wyswietlaja mi sie zdjecia
        </div>  Tutaj wyswietlaja mi sie zdjecia

            *@

@*
        <div class="form-group">
            <label class="form-check-label"></label>
            <div class="form-check my-2">
                <input asp-for="@Model.Ukryty" class="form-check-input" checked="checked" name="MyBool" type="radio" value="true" />
                <label asp-for="@Model.Ukryty" class="form-check-label">Włączony</label>
            </div>
            <div class="form-check my-2">
                <input asp-for="@Model.Ukryty" class="form-check-input" name="MyBool" type="radio" value="false" />
                <label asp-for="@Model.Ukryty" class="form-check-label">Wyłączony</label>
            </div>
        </div>*@
@*
    </div>
</div>
*@