@using Microsoft.AspNetCore.Identity
@using partner_aluro.Areas.Identity;
@using partner_aluro.Data;
@using partner_aluro.Core;
@using System.Globalization;
@using partner_aluro.wwwroot.Resources;
@using System.Text.RegularExpressions;

@inject LanguageService language
@*@inject Wangkanai.Detection.Services.IDetectionService DetectionService

@{

    var zmiena = "sticky-top fixed-top ";
    var wysokosc = "height: 48px;";

    @if(DetectionService.Device.Type == Wangkanai.Detection.Models.Device.Mobile)
    {
        zmiena = "fixed-bottom py-3 ";
        wysokosc = "height: 58px;";
    }
    else
    {
        zmiena = "sticky-top fixed-top ";
        wysokosc = "height: 48px;";
    }
}*@

@*<div class="row sticky-top fixed-top justify-content-center align-items-center navbar-expand-lg navbar-dark bg-dark" style="top:0px">*@
<div class="row sticky-top fixed-top gx-0 g-0 justify-content-center align-items-center navbar-dark bg-dark">
    <div class="col-sm-12 col-md-12 g-0 col-lg-12 col-xl-10 col-xxl-8 header px-0 mx-0">

        <div class="row sticky-top fixed-top g-0 p-0 m-0 pt-1">
                    @*Lewa strona*@
                    @if (User.IsInRole("Administrator") || User.IsInRole("Manager"))
                    {
                        <div class="col" style="max-width:55px">
                            <a class="btn btn-secondary" href="@Url.Action("Index","Dashboard")" role="button" alt="panel użytkownika">
                                Panel
                            </a>
                        </div>
                    }
            <div class="col-sm" style="max-width:70px;">
                            <a class="nav-link link-secondary dropdown-toggle"
                                role="button"
                                data-bs-toggle="dropdown"
                                aria-expanded="false">

                        @{
                            @if (@CultureInfo.CurrentUICulture.TextInfo.CultureName == "pl-PL")
                            {
                                                        <i class="flag-icon flag-icon-pl"></i>
                            }
                            else if (@CultureInfo.CurrentUICulture.TextInfo.CultureName == "en-US")
                            {
                                                            <i class="flag-icon flag-icon-us"></i>
                            }
                            else if (@CultureInfo.CurrentUICulture.TextInfo.CultureName == "de-DE")
                            {
                                                        <i class="flag-icon flag-icon-de"></i>
                            }else
                            {
                                                    @language.Getkey("Język")
                            }
                        }
                                    @*@language.Getkey("Język")*@
                                </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li class="dropdown-item"><a class="dropdown-item" asp-controller="Register" asp-action="ChangeLanguage" asp-route-culture="pl"><i class="flag-icon flag-icon-pl"></i> @language.Getkey("Polski")</a></li>
                                <li class="dropdown-item"><a class="dropdown-item" asp-controller="Register" asp-action="ChangeLanguage" asp-route-culture="en-US"><i class="flag-icon flag-icon-us"></i> @language.Getkey("Angielski")</a></li>
                                <li class="dropdown-item"><a class="dropdown-item" asp-controller="Register" asp-action="ChangeLanguage" asp-route-culture="de-DE"><i class="flag-icon flag-icon-de"></i> @language.Getkey("Niemiecki")</a></li>
                            </ul>

                </div>
            <div class="col d-sm-inline-block px-0 mx-0" style="max-width:90px">

                    @{
                    var active1 = "";
                    var active2 = "";
                    @if (Constants.myNumberFormatInfo.CurrencySymbol == "zł")
                    {
                        active1 = "active";
                        active2 = "";
                    }else
                    {
                        active1 = "";
                        active2 = "active";
                    }
                    }
                <ul class="nav custom-nav px-0 mx-0">
                    <li>
                        <a class="nav-link @active1" asp-controller="Register" asp-action="ChangeValue" asp-route-culture="zl"> @language.Getkey("zł")</a>
                    </li>
                    <li>
                        <a class="nav-link @active2" asp-controller="Register" asp-action="ChangeValue" asp-route-culture="euro"> @language.Getkey("€")</a>
                    </li>
                </ul>
                </div>

                @*Srodek strona*@
                <div class="col justify-content-center align-items-center center d-none d-sm-block d-md-block d-lg-block">
                            @await Component.InvokeAsync("UserStatus")
                </div>
                @*Srodek strona*@

                        @*PRAWA STRONA START*@
            <div class="col px-0 mx-0 text-end px-0 mx-0"  style="width:200px; max-width:200px;">

                                @*PRAWA STRONA START*@
                <div id="navbarNavDarkDropdown2 text-end px-1 mx-0 " style="right:20px">
                    <ul class="nav custom-nav menu-end text-end">
                        <li>
                            <a class="nav-link px-0" asp-controller="Order" asp-action="ListaZamowienZalogowanegoUzytkownika"><i class="bi bi-clipboard-data"></i></a>
                        </li>
                        <li>
                            @await Component.InvokeAsync("CartHeader")
                            @*<a class="nav-link" asp-area="" asp-controller="Cart" asp-action="ZlozZamowienie"><i class="fa-solid fa-cart-shopping">@cart.CartItems.Count</i></a>*@
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle px-0"
                                                href="#"
                                                role="button"
                                                data-bs-toggle="dropdown"
                                                aria-expanded="false">
                                <i class="bi bi-person-fill"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li>
                                    <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index"
                                        title="Manage">@language.Getkey("Moje konto")</a>
                                </li>
                                <li>
                                    <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                        <button id="logout" type="submit" class="dropdown-item">@language.Getkey("Wyloguj")</button>
                                    </form>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

                </div>
            </div>
                @*KONIEC PRAWA STRONA*@
        </div>
    </div>
    <div class="sticky-top float-end" style="max-width:20px;">
        <a class="sticky-top float-end" data-bs-toggle="offcanvas" href="#offcanvas" role="button" aria-controls="offcanvas">
            <i class="fa fa-arrow-left"></i>
        </a>
    </div>
            @await Html.PartialAsync("_Header2")
