@using Microsoft.AspNetCore.Identity
@using partner_aluro.Areas.Identity;
@using partner_aluro.Data;
@using partner_aluro.Core;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject Cart cart

@inject LanguageService language

<div class="row justify-content-center align-items-center sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-10 col-xxl-8">

        <div class="row">
                    @*Lewa strona*@
                    @if (User.IsInRole("Administrator") || User.IsInRole("Manager"))
                    {
                        <div class="col" style="max-width:60px">
                            <a class="btn btn-secondary" href="@Url.Action("Index","Dashboard")" role="button" alt="panel użytkownika">
                                Panel
                            </a>
                        </div>
                    }
                    <div class="col" style="max-width:110px">
                            <a class="nav-link dropdown-toggle"
                                href="#"
                                role="button"
                                data-bs-toggle="dropdown"
                   aria-expanded="false">
                    @language.Getkey("Język")</i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                    <li class="nav-item dropdown navbar-dark"><a asp-controller="Home" asp-action="ChangeLanguage" asp-route-culture="pl" class="nav-link"><i class="ui-icon-flag flag-icon-pl"></i>@language.Getkey("Polski")</a></li>
                    <li class="nav-item dropdown navbar-dark"><a asp-controller="Home" asp-action="ChangeLanguage" asp-route-culture="en-US" class="nav-link"><i class="ui-icon-flag flag-icon-en"></i>@language.Getkey("Angielski")</a></li>
                    <li class="nav-item dropdown navbar-dark"><a asp-controller="Home" asp-action="ChangeLanguage" asp-route-culture="de-DE" class="nav-link"><i class="ui-icon-flag flag-icon-de"></i>@language.Getkey("Niemiecki")</a></li>
                </ul>
                        @*
                        <ul class="navbar-nav z-index-2">
                            <li class="nav-item dropdown navbar-dark"><a asp-controller="Home" asp-action="ChangeLanguage" asp-route-culture="pl-POL" class="nav-link"><i class="ui-icon-flag flag-icon-en"></i>Polski</a></li>
                                <li class ="nav-item dropdown navbar-dark"><a asp-controller="Home" asp-action="ChangeLanguage" asp-route-culture="en-US" class="nav-link"><i class="ui-icon-flag flag-icon-en"></i>English</a></li>
                            <li class="nav-item dropdown navbar-dark"><a asp-controller="Home" asp-action="ChangeLanguage" asp-route-culture="de-DE" class="nav-link"><i class="ui-icon-flag flag-icon-en"></i>Niemiecki</a></li>
                        </ul>*@
                    </div>
            @*Srodek strona*@
            <div class="col justify-content-center align-items-center center d-none d-sm-block d-md-block d-lg-block">
                        @await Component.InvokeAsync("UserStatus")
            </div>
            @*Srodek strona*@

                    @*PRAWA STRONA START*@
            <div class="col "  style="width:200px; max-width: 200px;">

                            @*PRAWA STRONA START*@
                    <div id="navbarNavDarkDropdown2 text-end ">
                    <ul class="nav custom-nav menu-end">
                                

                                    <li>
                                        <a class="nav-link" asp-controller="Order" asp-action="ListaZamowienZalogowanegoUzytkownika"><i class="bi bi-clipboard-data"></i></a>
                                    </li>
                                    <li>
                                        @await Component.InvokeAsync("CartHeader")
                                        @*<a class="nav-link" asp-area="" asp-controller="Cart" asp-action="ZlozZamowienie"><i class="fa-solid fa-cart-shopping">@cart.CartItems.Count</i></a>*@
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle"
                                           href="#"
                                           role="button"
                                           data-bs-toggle="dropdown"
                                           aria-expanded="false">
                                        <i class="bi bi-person-fill"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-end">
                                            <li><a class="dropdown-item" href="@Url.Action("Index","Home")">Moje konto</a></li>
                                            <li>
                                                <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                                    <button id="logout" type="submit" class="dropdown-item">Wyloguj</button>
                                                </form>
                                            </li>
                                        </ul>
                                    </li>
                            </ul>
                    </div>

            </div>
        </div>
            @*KONIEC PRAWA STRONA*@
    </div>
</div>
<div class="sticky-top float-end" style="max-width:20px;">
    <a class="sticky-top float-end" data-bs-toggle="offcanvas" href="#offcanvas" role="button" aria-controls="offcanvas">
        <i class="fa fa-arrow-left"></i>
    </a>
</div>
        @await Html.PartialAsync("_Header2")
