<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - partner_aluro</title>
    <!-- Core theme CSS (includes Bootstrap)-->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <!-- Fonts (includes Bootstrap)-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--jQuery Search and enather-->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
    @RenderSection("LinkStyleHead", required: false)
</head>
<body>
    @await Html.PartialAsync("_Header")
    <main>
        @*<div class="container-lg">*@
            <div class="offcanvas offcanvas-end w-5 @ViewData["Pokaz"]" tabindex="-1" id="offcanvas" data-bs-scroll="true" data-bs-keyboard="false" data-bs-backdrop="false">
                <div class="offcanvas-header">
                    <h6 class="offcanvas-title d-none d-sm-block" id="offcanvas">Twoje zamówienie</h6>
                    <button type="button" class="btn-close btn btn-success text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body px-1" id="mydiv">
                    @await Component.InvokeAsync("CartStatus")
                </div>
            </div>
           @* <div class="container-fluid">
                @RenderBody()
            </div>*@
       @* </div>*@

    </main>
    <div class="row justify-content-center align-items-center">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            @RenderBody()
        </div>
    </div>
    

    <!-- Footer -->
    <footer class="text-center text-lg-start bg-light text-muted">

        @await Html.PartialAsync("_Footer")
@*
        @Html.Partial("_Footer")
*@
    </footer>
    <!-- Footer -->

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    @await RenderSectionAsync("Scripts", required: false)

@*     SZUKANIE SCRIPTS
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>*@


@*    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>*@
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>*@


    <script>
        $(function () {
            $("#szukanaNazwa").autocomplete(
                {
                    source: '../api/postapi/search',
                });
        });
    </script>
    <script>
        $(function () {
            $("#szukanaNazwa").keyup(function (e) {
                var n = $("#szukanaNazwa").val();
                $.get("/Category/Lista2?szukanaNazwa=" + n, function (r) {
                    $("#SekcjaListaKategori").html(r);
                });
            });
        });
    </script>
    <script>
        $(function () {
            $('.owl-one.owl-carousel')
                .each(function () {
                    let carousel = $(this);
                    carousel.on('show.bs.dropdown', '[data-bs-toggle=dropdown]', function () {
                        // universal solution
                        let dropdown = bootstrap.Dropdown.getInstance(this);
                        $(dropdown._menu).insertAfter(carousel);

                        // alternative for this particular layout
                        // $(this).next('.dropdown-menu').insertAfter(carousel);
                    });
                })
                .owl - one.owlCarousel({
                    loop: true,
                    nav: true,
                     margin: 10
                });

        });
    </script>

    <script type="text/javascript">
        $('.owl-one.owl-carousel').owlCarousel({
            loop: false,
            margin: 5,
            nav: false,
            responsive: {
                0: {
                    items: 4
                },
                300: {
                    items: 4
                },
                450: {
                    items: 5
                },
                800: {
                    items: 6
                },
                1000: {
                    items: 6
                },
                1300: {
                    items: 8
                }
            }

        })
    </script>
    <script type="text/javascript">
        $('.owl-carousel').owlCarousel({
            loop: false,
            margin: 5,
            nav: false,
            responsive: {
                0: {
                    items: 1
                },
                300: {
                    items: 2
                },
                800: {
                    items: 3
                },
                1000: {
                    items: 4
                }
            }

        })
    </script>


    @*BOOTSTRAP*@
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @*BOOTSTRAP*@
</body>
</html>