@model ICollection<partner_aluro.Models.Order>
@inject LanguageService language

    <div class="row">
        <div class="col-md-12 mb-3">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                    <table id="myTable" class="cell-border display" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Wartość zamówienia</th>
                                    <th>Data zamówienia</th>
                                    <th>Metoda płatności</th>
                                    <th>Metoda dostawy</th>
                                    @if (User.IsInRole("Administrator") || User.IsInRole("Manager"))
                                    {
                                        <th>Klient</th>
                                        <th>Firma</th>
                                    }
                                    <th>Stan zamówienia</th>
                                    @if (User.IsInRole("Administrator") || User.IsInRole("Manager"))
                                    {
                                        <th>Podgląd</th>
                                        <th>PDF</th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var order in Model)
                                {
                                    <tr>
                                        <td>@order.Id</td>
                                        <td>@order.OrderTotal.ToString("C")</td>
                                        <td>@order.OrderPlaced</td>
                                        <td>@order.MetodaPlatnosci</td>
                                        <td>@order.MetodaDostawy</td>
                                        @if (User.IsInRole("Administrator") || User.IsInRole("Manager"))
                                        {
                                            <td>@order.User.Imie @order.User.Nazwisko</td>
                                            <td>@order.User.NazwaFirmy</td>
                                        }
                                            

                                        <td>
                                                <select onchange="ChangeStanZamowienia(@order.Id, '@order.StanZamowienia.ToString()')" id="select_@order.Id" asp-for="@order.StanZamowienia" asp-items="(IEnumerable<SelectListItem>)@ViewData["StanZamowienia"]">
                                                    @*<option>Select one</option>*@
                                                </select>
                                              @*  @productFormModel.CategoryNavigation.Name*@
                                            </td>

@*
                                        @if (order.StanZamowienia == StanZamowienia.Nowe)
                                        {
                                            <td><span style="background-color: #49814e">Nowe<span></td>
                                        }else if (order.StanZamowienia == StanZamowienia.Wrealizacji)
                                        {
                                            <td><span style="background: #ff8c00">W realizacji<span></td>
                                        }else if (order.StanZamowienia == StanZamowienia.Zrealizowane)
                                        {
                                            <td><span style="background: #6ab170">@order.StanZamowienia<span></td>
                                        }else if (order.StanZamowienia == StanZamowienia.Anulowane)
                                        {
                                            <td><span style="background: #dc143c">Anulowane</span></td>
                                        }else if (order.StanZamowienia == StanZamowienia.Wysłane)
                                        {
                                            <td><span style="background: #8a2be2">Wysłane</span></td>
                                        }else
                                        {
                                            <td>@order.StanZamowienia</td>
                                        }*@

                                    @{
                                        var color ="";
                                    }

                                    @if (order.StanZamowienia == StanZamowienia.Wrealizacji)
                                    {
                                        color = "#ff8c00";
                                    }
                                    else if (order.StanZamowienia == StanZamowienia.Nowe)
                                    {
                                        color = "#88ac8b";
                                    }
                                    else if (order.StanZamowienia == StanZamowienia.Zrealizowane)
                                    {
                                        color = "#6ab170";
                                    }
                                    else if (order.StanZamowienia == StanZamowienia.Anulowane)
                                    {
                                        color = "#dc143c";
                                    }
                                    else if(order.StanZamowienia == StanZamowienia.Wysłane)
                                    {
                                        color = "#ca9ef2";
                                    }

                                        @if (User.IsInRole("Administrator") || User.IsInRole("Manager"))
                                        {
                                        <td class="font-weight-bold">


                                            <a asp-controller="Order" asp-action="Detail" asp-route-id="@order.Id" class="text-dark font-weight-bold" style=" font-weight: bold; background-color: @color">Podgląd</a>
                                            </td>

                                        <td>
                                            <form method="post" asp-controller="Order" asp-route-id="@order.Id" asp-action="PDFOrder">
                                                <input type="submit" value="PDF"/>
                                            </form>
                                        </td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>