@{
    ViewData["Title"] = "Lista produktów wybranej Kategorii";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}


@model IEnumerable<partner_aluro.Models.Slider>

<div>
    <h1 class="display-4">Lista sliderow</h1>
    
    <a asp-controller="Slider" asp-action="Add" class="btn btn-success" px-3">
    Dodaj slider
    </a>

        <div class="row">
            <div class="col-md-12 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="SliderTable1" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Zaz</th>
                                        <th>Ukryte</th>
                                        <th>Akcje</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var Slider in Model)
                                    {
                                        <tr>
                                            <td>@Slider.ImageSliderID</td>
                                            <td><input id="takenBefore" type="checkbox" value="@Slider.ImageSliderID" data-toggle="toggle"></td>
                                            <td>@Slider.Name</td>
                                            <td>
                                                <a asp-controller="Slider" asp-action="Edit" asp-route-id="@Slider.ImageSliderID">Edytuj</a> |
                                                <a asp-controller="Slider" asp-action="Delete" asp-route-id="@Slider.ImageSliderID">Usuń</a> |
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Id</th>
                                        <th>Zaz</th>
                                        <th>Ukryte</th>
                                        <th scope="col">Akcje</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>



</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#SliderTable1').DataTable(
                {
                    "order": [[0, 'desc']]
                });
        });
    </script>
    <script>
        checkBox = document.getElementById('takenBefore').addEventListener('click', event => {
            if (event.target.checked) {
                alert("Checkbox checked!");
            }
        });
    </script>
}

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
