@model partner_aluro.Models.ImageModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<h4>Usuń</h4>

<h3>Jeśteś pewny że chcesz usunąć ten plik?</h3>
<div>
    <hr />
    <dl class="row">
        <dd class = "col">
            @Html.DisplayFor(model => model.Tytul)
        </dd>
        <dt class = "col">
            @Html.DisplayNameFor(model => model.ImageName)
        </dt>
        <dd class = "col">
            @Html.DisplayFor(model => model.path)
        </dd>
        <dd class="col">
            @Html.DisplayFor(model => model.fullPath)
        </dd>
    </dl>
    <div class="form-group">
        <img src="\@Model.path\@Model.ImageName" asp-append-version="true" width="250px" height="250px">
    </div>
    <form asp-action="Delete" asp-route-id="@Model.ImageId" asp-route-returnUrl="@ViewData["returnUrl"]">
        <input type="hidden" asp-for="ImageId" />
        <input type="submit" value="Usuń" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
