@model IEnumerable<partner_aluro.Models.ImageModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<div class="row sticky-top bg-light border-bottom">
    <div class="col"><h3>Media</h3></div>
    <div class="col">
        <a class="btn btn-success float-end" asp-action="Create">Dodaj nowy obrazek</a>
    </div>
</div>

<div class="row">
    <div class="col-md-12 mb-3">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="ImageTable" class="cell-border display" style="width: 100%">
                        <thead>
                            <tr>
                                <th>
                                    Id
                                </th>
                                <th>
                                    Obrazek
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.path)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.fullPath)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ImageName)
                                </th>
                                <th>Akcje</th>
                            </tr>
                        </thead>
                        <tbody>
                                @foreach (var item in Model) {
                                        <tr>
                                            <td>
                                                    @Html.DisplayFor(model => item.ImageId)
                                            </td>
                                            <td>
                                                <img src="@item.path\@item.ImageName" width="50px" height="50px">
                                            </td>
                                            <td>
                                                    @Html.DisplayFor(model => item.path)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(model => item.fullPath)
                                            </td>
                                            <td>
                                                    @Html.DisplayFor(modelItem => item.ImageName)
                                            </td>
                                            <td>
                                                <a asp-action="Edit" asp-route-id="@item.ImageId">Edit</a> |
                                                <a asp-action="Details" asp-route-id="@item.ImageId">Details</a> |
                                                <a asp-action="Delete" asp-route-id="@item.ImageId">Delete</a>
                                            </td>
                                        </tr>
                                }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            $('#ImageTable').DataTable(
                {
                    "order": [[0, 'desc']]
                });
        });
    </script>
}