@model IEnumerable<Category>
@inject LanguageService language

<div class="bg-light border p-1">
    <div class="bg-gray text-uppercase p-1">
        <i class="fa fa-list"></i> @language.Getkey("Kategorie")
    </div>
    <ul class="nav navbar-nav">
        @foreach (var kategorie in Model)
        {
            var activecat = "";
            var activecat2 = "";

            @if (kategorie.Aktywny == true && kategorie.ParentId == 0)
            {

                if (@kategorie.Name.ToString() == ViewData["szukanaNazwa"].ToString())
                {
                    activecat = "activecat";
                }

                @if (kategorie.Aktywny == true)
                {
                    <a class="@activecat kategoria_class_menu" asp-controller="Category" asp-route-KategoriaId="@kategorie.CategoryId" asp-action="Lista1">
                        <li class=" p-2 ">
                            @language.Getkey(@kategorie.Name)
                        </li>
                    </a>

                    @foreach (var kategorie2 in Model)
                    {
                        if (@kategorie2.Name == ViewData["szukanaNazwa"])
                        {
                            activecat2 = "activecat";
                        }else
                        {
                            activecat2 = "";
                        }

                        @if (kategorie2.ParentId == kategorie.CategoryId && kategorie2.ParentId != 0)
                        {
                            <a class="@activecat2 kategoria_class_menu" href="@Url.Action("Lista1","Category", new {KategoriaId = kategorie2.CategoryId})">

                                <li class=" p-2 px-4">
                                            @language.Getkey(@kategorie2.Name)
                              
                                </li>
                            </a>
                        }
                    }
                }

            }
        }
    </ul>
</div>