@model IEnumerable<Category>
@inject LanguageService language

<div class="bg-light border p-1">
    <div class="bg-gray text-uppercase p-1">
        <i class="fa fa-list"></i> @language.Getkey("Kategorie")
    </div>
    <ul class="nav navbar-nav">
        @foreach (var kategorie in Model)
        {
            var activecat = "";
            var activecat2 = "";

            @if (kategorie.Aktywny == true && kategorie.ParentId == 0)
            {

                if (@kategorie.Name.ToString() == ViewData["szukanaNazwa"].ToString())
                {
                    activecat = "activecat";
                }

                @if (kategorie.Aktywny == true)
                {
                    <li class="nav-link list-group-item list-group-item-action p-2">
                        <a class="@activecat text-dark text-decoration-none" asp-controller="Category" asp-route-KategoriaId="@kategorie.CategoryId" asp-action="Lista1">@language.Getkey(@kategorie.Name)</a>
                    </li>

                    @foreach (var kategorie2 in Model)
                    {
                        if (@kategorie2.Name == ViewData["szukanaNazwa"])
                        {
                            activecat2 = "activecat2";
                        }

                        @if (kategorie2.ParentId == kategorie.CategoryId && kategorie2.ParentId != 0)
                        {

                            <li class="nav-link list-group-item list-group-item-action px-4">
                                <a class="@activecat2 text-dark text-decoration-none" href="@Url.Action("Lista1","Category", new {KategoriaId = kategorie2.CategoryId})">
                                @language.Getkey(@kategorie2.Name)
                                </a>
                            </li>
                        }
                    }
                }

            }
        }
    </ul>
</div>