

@{
    ViewData["Title"] = "Kategoria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row justify-content-center align-items-center">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-10 col-xxl-8">

        @*MENU LEFA STRONA LEFT KATEGORIE*@
        <div class="row">
            @* <div class="col-12 col-md-4 col-lg-4 col-xl-4 col-xxl-3 d-none d-sm-none d-md-none d-lg-block">*@
            <div class="col d-none d-sm-none d-md-none d-lg-block" style="max-width:235px;">
                <div class="row custom-kategory-menu sticky-top">
                    @await Component.InvokeAsync("MenuCategory")
                </div>
            </div>@*
            @*CONTENT PRAWA STRONA*@
            <div class="col px-3 m-0">
                @*tutajdodalem kolor*@
                @*HEADER*@
                <div class="row align-items-center mb-1 bg-light p-2 border">
                    <div class="col start d-flex">
                        <!-- Breadcrumb -->
                        <breadcrumb></breadcrumb>
                    </div>
                    <div class="col d-flex justify-content-end">
                        <!-- Select -->
                        <div class="dropdown">
                            <button class="sortuj dropdown-toggle" type="button" id="dropdownMenuButtonSort" data-bs-toggle="dropdown" aria-expanded="false">
                                Sortuj
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButtonSort">
                                <li class="dropdown-item link-dark">@Html.ActionLink("Alfabetycznie od A do Z", "Lista", "Category", new { page = 1, szukanaNazwa=ViewData["szukanaNazwa"], sort=1 } )</li>
                                <li class="dropdown-item link-dark">@Html.ActionLink("Alfabetycznie od Z do A", "Lista", "Category", new { page = 1, szukanaNazwa=ViewData["szukanaNazwa"], sort=2 } )</li>
                                <li class="dropdown-item link-dark">@Html.ActionLink("Symbol od najmniejszej do największej", "Lista", "Category", new { page = 1, szukanaNazwa=ViewData["szukanaNazwa"], sort=3 } )</li>
                                <li class="dropdown-item link-dark">@Html.ActionLink("Symbol od największej do najmniejszej", "Lista", "Category", new { page = 1, szukanaNazwa=ViewData["szukanaNazwa"], sort=4 } )</li>
                            </ul>
                        </div>


                    </div>
                </div>
                @*PRODKUCTS*@
                <div class="row p-1">
                    @await Html.PartialAsync("_ProductList")
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        function AddToCart(ProductId) {
            var myOffcanvas = document.getElementById('offcanvas');
            var bsOffcanvas = new bootstrap.Offcanvas(myOffcanvas);
            bsOffcanvas.show();

            var quantity = document.getElementById(ProductId).value;
            $.ajax({
                type: "POST",
                url: '@Url.Action("AddToCart2", "Cart")',
                data: { ProductId: ProductId, quantity: quantity },
                success: function (result) {
                    $("#mydiv").load(location.href + " #mydiv");
                },

                error: function (abc) {
                    alert(abc.statusText);
                },
            });
        }
    </script>

    <script>
        function ReduceQuantity(ProductId) {

            $.ajax({
                type: "POST",
                url: '@Url.Action("ReduceQuantity2", "Cart")',
                data: { id: ProductId },
                success: function (result) {
                    $("#mydiv").load(location.href + " #mydiv");
                },

                error: function (abc) {
                    alert(abc.statusText);
                },
            });
        }
    </script>

    <script>
        function IncreaseQuantity(ProductId) {

            $.ajax({
                type: "POST",
                url: '@Url.Action("IncreaseQuantity2", "Cart")',
                data: { id: ProductId },
                success: function (result) {
                    $("#mydiv").load(location.href + " #mydiv");
                },

                error: function (abc) {
                    alert(abc.statusText);
                },
            });
        }
    </script>


    <script>
        function RemoveFromCart(ProductId) {

            $.ajax({
                type: "POST",
                url: '@Url.Action("RemoveFromCart2", "Cart")',
                data: { id: ProductId },
                success: function (result) {
                    $("#mydiv").load(location.href + " #mydiv");
                },

                error: function (abc) {
                    alert(abc.statusText);
                },
            });
        }
    </script>
}