@model IEnumerable<partner_aluro.Models.Category>
@{
    ViewData["Title"] = "Lista kategori";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<a type="button" class="btn btn-success" asp-controller="Category" asp-action="Add" >Dodaj Kategorie</a>


    @if (@Model != null && @Model.Any())
    {
        <div class="row">
            <div class="col-md-12 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="CategoryTable" class="display" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Nazwa</th>
                                        <th>Opis</th>
                                        <th>Kolejnosc</th>
                                        <th>Edit</th>
                                        <th>Usuń</th>
                                        <th>Wł/Wył</th>
                                        <th>Ilość Produktów</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var cat in Model)
                                    {
                                        <tr>
                                            <td>@cat.CategoryId</td>
                                            <td>@cat.Name</td>
                                            <th>@cat.Description</th>
                                            <td>@cat.kolejnosc</td>
                                            <td>
                                                <a asp-controller="Category" asp-action="Edit" asp-route-id="@cat.CategoryId">Edit</a>
                                            </td>
                                            <td>
                                                
                                            @if (@cat.Produkty.Count >= 1)
                                            {
                                                <div>Przenies produkty</div>
                                            }
                                            else if (cat.CategoryId == 0)
                                            {
                                                
                                                <div>Nie można usuwać</div>
                                            }else
                                            {
                                                <a asp-controller="Category" asp-action="Delete" asp-route-id="@cat.CategoryId">Usuń</a>
                                            }
                                            </td>
                                            <td>
                                            @if(@cat.Aktywny == true)
                                            {
                                                <p>Włączone</p>
                                            }else if(@cat.Aktywny == false){
                                                <p>Wyłączona</p>
                                            }else
                                                {
                                            @cat.Aktywny
                                                }
                                                
                                            </td>
                                            <td>
                                                @if (cat.Produkty != null)
                                                {
                                                    @cat.Produkty.Count
                                                }
                                            </td>
                                        </tr>
                                        
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }
@section Scripts {
    <script>
        $(document).ready(function () {
            $('#CategoryTable').DataTable(
                {
                    "columnDefs": [
                        { "width": "50px", "targets": 2 }
                    ],
                    pageLength: 50,
                    "order": [[6, 'desc'] , [0, 'desc']]
                });
        });
    </script>
}