
@{
    ViewData["Title"] = "Updata";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
<h1>Edit</h1>

@model partner_aluro.ViewModels.EditUserViewModel
<div class="col-md-7 col-lg-8">
        <h4 class="mb-3">Dane podstawowe</h4>


    @using(Html.BeginForm("OnPost","User"))
    {
        @Html.HiddenFor(h=>Model.User.Id);
        <div class="row g-3">
            <div class="col-sm-6">
                <label asp-for="@Model.User.Imie" class="form-label">Imię</label>
                <input asp-for="@Model.User.Imie" class="form-control" autocomplete="username" aria-required="true" />
                <span asp-validation-for="@Model.User.Imie" class="text-danger">
                </span>
            </div>
        </div>
    
        <div class="col-sm-6">
            <label asp-for="@Model.User.Nazwisko" class="form-label">Nazwisko</label>
            <input asp-for="@Model.User.Nazwisko" class="form-control" autocomplete="username" aria-required="true" />
            <span asp-validation-for="@Model.User.Nazwisko" class="text-danger">
            </span>
        </div>
        <div class="col-sm-6">
            <label asp-for="@Model.User.NazwaFirmy" class="form-label">Nazwa firmy</label>
            <input asp-for="@Model.User.NazwaFirmy" class="form-control" autocomplete="NazwaFirmy" aria-required="true" />
            <span asp-validation-for="@Model.User.NazwaFirmy" class="text-danger">
            </span>
        </div>
        <div class="col-12">
            <label asp-for="@Model.User.UserName" class="form-label">Nazwa użytkownika</label>
            <input asp-for="@Model.User.UserName" class="form-control" autocomplete="UserName" aria-required="true" />
            <span asp-validation-for="@Model.User.UserName" class="text-danger">
            </span>
        </div>
    
        <div class="col-12">
            <label asp-for="@Model.User.Email" class="form-label">Email <span class="text-muted">(Optional)</span></label>
            <input asp-for="@Model.User.Email" class="form-control" id="email" value="@Model.User.Email" placeholder="you@example.com">
            <div class="invalid-feedback">
                Please enter a valid email address for shipping updates.
            </div>
        </div>
        <hr />
            <div class="form-group">
                <select asp-for="@Model.User.IdProfilDzialalnosci" class="form-control" asp-items="(IEnumerable<SelectListItem>)@ViewData["Profile"]"></select>
                <label asp-for="@Model.User.IdProfilDzialalnosci" class="control-label text-center"></label>
            </div>
        <hr class="my-4">
        <h4 class="mb-3">Uprawnienia</h4>
        <div class="my-3">
            @for(int i = 0 ; i < @Model.Roles.Count(); i++)
            {
                <div class="form-check">
                    @Html.CheckBoxFor(r => r.Roles[i].Selected)
                    @Html.HiddenFor(h => Model.Roles[i].Value)

                    @Html.LabelFor(l => Model.Roles[i].Selected, Model.Roles[i].Text, new {@class="form-check-label"})
                    @Html.HiddenFor(h => Model.Roles[i].Text)
                    </div>
            }
@*
              @foreach(var role in Model.Roles)
              {
            <div class="form-check">
              <input id="@role.Value" name="paymentMethod" type="checkbox" class="form-check-input" checked="@role.Selected" required="">
              <label class="form-check-label" asp-for="@role.Value">@role.Text</label>
            </div>
              }*@
        </div>
          <hr class="my-4">

        <div class="form-group">
            <label for="@Model.User.NotatkaOsobista">Notatka osobista</label>
            <textarea asp-for="@Model.User.NotatkaOsobista" class="form-control" id="NotatkaOsobista" rows="3" value="@Model.User.NotatkaOsobista"></textarea>
        </div>


          <button class="w-100 btn btn-primary btn-lg" type="submit">Zapisz</button>
    }

    <hr class="my-4">
    <h4 class="mb-3">Adres</h4>

        <div class="col-12">
            <label for="address" class="form-label">Adres</label>
            <input type="text" class="form-control" id="address" placeholder="1234 Main St" required="">
            <div class="invalid-feedback">
                Please enter your shipping address.
            </div>
        </div>

        <div class="col-12">
            <label for="address2" class="form-label">Adres 2-ga linia<span class="text-muted">(Optional)</span></label>
            <input type="text" class="form-control" id="address2" placeholder="Apartment or suite">
        </div>


        <div class="col-md-5">
            <label for="country" class="form-label">Kraj</label>
            <select class="form-select" id="country" required="">
                <option value="">Wybierz...</option>
                <option>Polska</option>
            </select>
            <div class="invalid-feedback">
                Please select a valid country.
            </div>
        </div>

        <div class="col-md-4">
            <label for="state" class="form-label">Województwo / Stan</label>
            <select class="form-select" id="state" required="">
                <option value="">Wybierz...</option>
                <option>Poznań</option>
            </select>
            <div class="invalid-feedback">
                Please provide a valid state.
            </div>
        </div>
        <div class="col-md-4">
            <label for="state" class="form-label">Województwo / Stan</label>
            <select class="form-select" id="state" required="">
                <option value="">Wybierz...</option>
                <option>Poznań</option>
            </select>
            <div class="invalid-feedback">
                Please provide a valid state.
            </div>
        </div>
        <div class="col-md-3">
            <label for="zip" class="form-label">Kod pocztowy / Zip</label>
            <input type="text" class="form-control" id="zip" placeholder="" required="">
            <div class="invalid-feedback">
                Zip code required.
            </div>
        </div>


</div>
      