
@{
    ViewData["Title"] = "Users Page";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

@model ICollection<partner_aluro.Models.ApplicationUser>

<div class="row sticky-top bg-light border-bottom">
    <div class="col"><h3>Użytkownicy</h3></div>
    <div class="col">
    <a class="btn btn-success float-end" asp-controller="User" asp-action="Add">Dodaj użytkownika</a>
    </div>
</div>

    @if(@Model != null && @Model.Any())
    { 
        <div class="row">
            <div class="col-md-12 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="userTable" class="cell-border display" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>Data założenia</th>
                                        <th>Imię Nazwisko</th>
                                        <th>Firma</th>
                                        <th>Newsletter</th>
                                        <th>Email</th>
                                        <th>Aktywny</th>
                                        <th>NIP</th>
                                        <th>Akcje</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int i = 0;
                                        bool pokaz = true;
                                    }

                                    @foreach (var user in Model)
                                    {

                                        pokaz = true;

                                        var checkBoxId = "chk" + user.UserName;

                                        <tr>

                                            <td>@user.DataZałożenia.ToString("yyyy-MM-dd HH:mm:ss")</td>
                                            <td>@user.Imie @user.Nazwisko</td>
                                            <td>@user.NazwaFirmy</td>
                                            <td>

                                                @if (@user.Newsletter == true)
                                                {
                                                    <input onclick="AddToNewsletter( '@user.Email' )" type="checkbox" id="@checkBoxId" class="chkclass" checked />
                                                }else
                                                {
                                                    <input onclick="AddToNewsletter( '@user.Email' )" type="checkbox" id="@checkBoxId" class="chkclass" />
                                                }

                                            </td>
                                            <td>@user.Email</td>
                                            <td>
                                                 @if (@user.Aktywny == true)
                                                {
                                                    <input type="checkbox" checked disabled />
                                                }else
                                                {
                                                    <input type="checkbox" disabled />
                                                }
                                            </td>
                                            <td>@user.Adress1rozliczeniowy.Vat</td>
                                            <td>
                                                <a asp-controller="User" asp-action="Edit" asp-route-id="@user.Id">Edytuj</a> |  <a asp-controller="User" asp-action="ResetPasswordUser" asp-route-id="@user.Id" asp-route-email="@user.Email">Resetuj hasło</a> |
                                                <a asp-controller="User" asp-action="Delete" asp-route-id="@user.Id">Usuń</a>
                                            </td>
                                            @*<td>
                                                @Html.HiddenFor(h=>user.Id);  @*potrzebne do funkcji usuniecia user
                                                <a asp-controller="User" asp-action="Delete" asp-route-id="@user.Id">Usun</a>
                                                <form asp-controller="User" asp-action="Delete" asp-route-id="@user.Id" method="post">
                                                    <button type="submit" class="btn btn-sm btn-danger">
                                                        Delete
                                                    </button>
                                                </form>
                                            </td>*@
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    }

</div>
@section Scripts {
    <script>
        function AddToNewsletter(UserName) {
            var check = document.getElementById('chk' + UserName);
            if (check.checked) {
                check = true;
            } else {
                check = false;
            }
            $.ajax({
                type: "POST",
                url: '@Url.Action("AddToNewsletter", "User")',
                data: { UserName: UserName, check: check },
                success: function (result) {

                },

                error: function (abc) {
                    alert(abc.statusText);
                },
            });
        }
    </script>

    <script>
        $(document).ready(function () {
            $('#userTable').DataTable(
                {
                    "pageLength": 100,
                    "order": [[0, 'desc']]
                });
        });
    </script>
}