@model partner_aluro.Models.Product
<!-- Product section-->
<section class="py-2">
    <div class="container px-2 px-lg-3 my-3">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6">
                
                
                @*<img class="card-img-top mb-5 mb-md-0" src="~/images/produkty/@Model.Symbol/@Model.ImageUrl" alt="@Model.Name" />*@

                @*SLIDER PRODUKT*@

                <!-- Carousel wrapper -->
                <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-mdb-ride="carousel">
                    <!-- Slides -->
                    <div class="carousel-inner mb-5">
                        <div class="carousel-item active">
                            <img src="~/images/produkty/@Model.Symbol/@Model.ImageUrl" class="d-block w-100" alt="..." />
                        </div>
                        <div class="carousel-item">
                            <img src="~/images/produkty/@Model.Symbol/@Model.ImageUrl" class="d-block w-100" alt="..." />
                        </div>
                        <div class="carousel-item">
                            <img src="~/images/produkty/@Model.Symbol/@Model.ImageUrl" class="d-block w-100" alt="..." />
                        </div>
                    </div>
                    <!-- Slides -->
                    <!-- Controls -->
                    <button class="carousel-control-prev" type="button" data-mdb-target="#carouselExampleIndicators"
                            data-mdb-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-mdb-target="#carouselExampleIndicators"
                            data-mdb-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                    <!-- Controls -->
                    <!-- Thumbnails -->
                    <div class="carousel-indicators" style="margin-bottom: -20px;">
                        <button type="button" data-mdb-target="#carouselExampleIndicators" data-mdb-slide-to="0" class="active"
                                aria-current="true" aria-label="Slide 1" style="width: 100px;">
                            <img class="d-block w-100"
                                 src="https://mdbcdn.b-cdn.net/img/Photos/Others/Carousel-thumbs/img%20(88).webp" class="img-fluid" />
                        </button>
                        <button type="button" data-mdb-target="#carouselExampleIndicators" data-mdb-slide-to="1"
                                aria-label="Slide 2" style="width: 100px;">
                            <img class="d-block w-100"
                                 src="https://mdbcdn.b-cdn.net/img/Photos/Others/Carousel-thumbs/img%20(121).webp" class="img-fluid" />
                        </button>
                        <button type="button" data-mdb-target="#carouselExampleIndicators" data-mdb-slide-to="2"
                                aria-label="Slide 3" style="width: 100px;">
                            <img class="d-block w-100"
                                 src="https://mdbcdn.b-cdn.net/img/Photos/Others/Carousel-thumbs/img%20(31).webp" class="img-fluid" />
                        </button>
                    </div>
                    <!-- Thumbnails -->
                </div>
                <!-- Carousel wrapper -->
            
            
            </div>
            <div class="col-md-6">
                <div class="small mb-1">Symbol: @Model.Symbol</div>
                    <h1 class="display-5 fw-bolder">@Model.Name</h1>
                <div class="fs-5 mb-5">
                    <span class="text-decoration-line-through">Cena detaliczna: @Model.CenaProduktuDetal</span>
                    <span>Cena produktu: @Model.CenaProduktu</span>
                </div>
                <p class="lead">@Model.Description</p>
                <p class="lead">Wymiary: @Model.SzerokoscProduktu Wys: @Model.SzerokoscProduktu, Glebokosc:@Model.GlebokoscProduktu </p>
                <div class="d-flex">
                    Ilość: <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />
                    <a asp-controller="Cart" asp-action="AddToCart" asp-route-id="@Model.ProductId" class="btn btnalert-primary">Dodaj do zamowienia</a>
                    @*<button asp-action="DodajDoKoszyka" asp-controller="Koszyk" asp-route-id="@Model.ProductId" class="btn btn-outline-dark flex-shrink-0" type="button">
                        <i class="bi-cart-fill me-1"></i>
                        Dodaj do zamówienia
                    </button>*@
                </div>
            </div>
        </div>
        <div class="row">

        </div>
    </div>
</section>