@model partner_aluro.Models.Product
@inject LanguageService language
@using partner_aluro.Core;
@using System.Globalization;
@using partner_aluro.Resources;

@*https://mansfeld.pl/programowanie/galeria-lightbox-bez-jquery/*@

@section LinkStyleHead
    {
    <link href="~/css/glightbox.css" rel="stylesheet" />
    <link href="~/css/glightbox.min.css" rel="stylesheet" />

    <link href="~/css/product.css" rel="stylesheet" />
    }
<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class="row justify-content-center align-items-center">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-10 col-xxl-8">
            <div class="card">	
                <div class="row g-0">
                        @if (User.IsInRole("Administrator") || User.IsInRole("Manager"))
                        {
                            <a asp-controller="Product" asp-action="Edit" asp-route-id="@Model.ProductId" class="text-end">Edytuj</a>
                        }

                    @{
                        var CenaJednostkowa = Model.CenaProduktu * (1 - (partner_aluro.Core.Constants.Rabat / 100));
                    }


                    <div class="col-md-6 border-end" id="content-wrapper">

                        <div class="column">
                            <div class="main_image">
                                <a id="myLink" href="~/images/produkty/@Model.Symbol/@Model.ImageUrl" class="glightbox">
                                    <img class="main_image" id=featured src="~/images/produkty/@Model.Symbol/@Model.ImageUrl">
                                </a>
                            </div>

                            <div id="slide-wrapper">
                                <img  id="slideLeft" class="arrow" src="~/images/produktslider/arrow-left.png">
                                <div id="slider">
                                    @foreach (var img in Model.Product_Images.OrderBy(i=>i.kolejnosc) )
                                    {
                                        <a href="~/images/produkty/@Model.Symbol/@img.ImageName" class="glightbox" data-gallery="gallery">
                                            <img class="thumbnail_product" src="~/images/produkty/@Model.Symbol/@img.ImageName" alt="@img.Product" width="70px">
                                        </a>
                                    }
                                </div>
                                <img id="slideRight" class="arrow" src="~/images/produktslider/arrow-right.png">
                            </div>
                        </div>



                    </div>	
                    <div class="col-md-6">
                        <div class="">
                            <div class="d-flex justify-content-between align-items-center">
                                <h4>@language.Getkey(@Model.Name)</h4>
                            </div>
                            <div class="mt-2 pr-3">
                                <p>Symbol: <b>@Model.Symbol</b></p>
                            </div>
                            @if (@Model.KrotkiOpis != null)
                            {
                                <div class="row p-3">@Html.Raw(@Model.KrotkiOpis)</div>
                            }
                            @*<div @*style="max-width:460px;" class="row body_product float-end text-end m-1 p-2">*@
                             @{
                                    var Cena_brutto = (decimal)Model.CenaProduktu * (decimal)partner_aluro.Core.Constants.Vat;

                                }
                        <div class="row">
                                <div class="col justify-content-end text-end">
                                    @language.Getkey("CenaHurtowa"): @language.GetCurrently(Model.CenaProduktu, Constants.myNumberFormatInfo).ToString("C", Constants.myNumberFormatInfo) @language.Getkey("(netto)")
                                </div>
                                <div class="col">

                                </div>
                            </div>
                            <div class="row">
                                <div class="col justify-content-end text-end">
                                    @language.GetCurrently(@Cena_brutto, Constants.myNumberFormatInfo).ToString("C",Constants.myNumberFormatInfo) <span class="brutto">@language.Getkey("(brutto)")</span>
                                </div>
                                <div class="col">

                                </div>
                            </div>
                            <div class="row">
                                <div class="col justify-content-start text-start">
                                    @language.Getkey("CenaDetaliczna"): @language.GetCurrently( @Model.CenaProduktuDetal.Value, Constants.myNumberFormatInfo).ToString("C", Constants.myNumberFormatInfo)
                                </div>
                                <div class="col">

                                </div>
                            </div>


                            <div class="row card-bar-action align-items-center" >
                                    @if(Model.Ilosc <= 0)
                                    {
                                        <div>Produkt jest już niedostępny.</div>
                                    }
                                    else
                                    {
                                    <div class="col-2">
                                        @language.Getkey("Ilość"):
                                    </div>
                                    <div class="col-2">
                                        <input type="number" id="@Model.ProductId" name="quantity" value="1" class="form-control" aria-required="true" placeholder="Ilość" min="1" max="@Model.Ilosc" />
                                    </div>
                                    <div class="col">
                                        <button value="@Model.ProductId" onclick="AddToCart(@Model.ProductId)" data-bs-target="offcanvas" role="button">@language.Getkey("Dodaj do zamowienia")</button>
                                    </div>
                                    }
                            </div>


                            <div class="row p-3">

                                @if (Model.CenaPromocyja != null && Model.Promocja == true)
                                {
                                    decimal ProcentPromocji = (decimal)(1 - (Model.CenaPromocyja / Model.CenaProduktu)) * 100;


                                    <div class="sale" >@ProcentPromocji.ToString("##.") %</div>

                                    <span class="text-decoration-line-through">@Model.CenaProduktu.ToString("C")</span><br />
                                    <span>@Model.CenaPromocyja.Value.ToString("C")</span>
                                    <div class="h2 text-danger">PROMOCJA: @ProcentPromocji.ToString(".##") %</div>
                                }


                                @if (Model.WysokoscProduktu != null)
                                {
                                <div class="row">Specyfikacja produktu: </div>
                                <div class="row">
                                    <div class="col">Szerokość: @Model.SzerokoscProduktu cm</div>
                                    <div class="col">Wysokość: @Model.WysokoscProduktu cm</div>
                                    <div class="col">Głębokość: @Model.GlebokoscProduktu cm</div>
                                </div>

                                }
                                @if(Model.WagaProduktu != null)
                                {
                                    <div class="row">
                                        <div class="col">Waga: @Model.WagaProduktu</div>
                                    </div>
                                }

                                @if(Model.Pakowanie != null)
                                {
                                <div class="row">Pakowanie: @Model.Pakowanie </div>
                                }

                                @if (Model.Materiał != null)
                                {
                                    <div class="row">Materiał: @Model.Materiał </div>
                                }


                                <div class="row">@Html.Raw(@Model.Description)</div>

                            </div>

                            @*<div class="buttons d-flex flex-row mt-5 gap-3">
                                <button class="btn btn-outline-dark">Dodaj do zamówienia</button>
                            </div>*@
                        </div>	
                    </div>	
                </div> 
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script src="~/js/glightbox.js"></script>
    <script src="~/js/glightbox.min.js"></script>

    <script>
        const lightbox = GLightbox({
            touchNavigation: true,
            loop: false,
            autoplayVideos: true
        });
    </script>

@*    <script>
    function swipe() {
       var largeImage = document.getElementById('largeImage');
       largeImage.style.display = 'block';
       largeImage.style.width=200+"px";
       largeImage.style.height=200+"px";
       var url=largeImage.getAttribute('src');
       window.open(url,'Image','width=largeImage.stylewidth,height=largeImage.style.height,resizable=1');
    }
    </script>
*@

    <script type="text/javascript">
		let thumbnails = document.getElementsByClassName('thumbnail_product')

		let activeImages = document.getElementsByClassName('active')

		for (var i=0; i < thumbnails.length; i++){

			thumbnails[i].addEventListener('mouseover', function(){
				console.log(activeImages)
				
				if (activeImages.length > 0){
					activeImages[0].classList.remove('active')
				}
				

				this.classList.add('active')
				document.getElementById('featured').src = this.src


                document.getElementById('myLink').href = this.src

            })
		}


		let buttonRight = document.getElementById('slideRight');
		let buttonLeft = document.getElementById('slideLeft');

		buttonLeft.addEventListener('click', function(){
			document.getElementById('slider').scrollLeft -= 180
		})

		buttonRight.addEventListener('click', function(){
			document.getElementById('slider').scrollLeft += 180
		})


	</script>

    <script>
        function AddToCart(ProductId) {
            var myOffcanvas = document.getElementById('offcanvas');
            var bsOffcanvas = new bootstrap.Offcanvas(myOffcanvas);
            bsOffcanvas.show();

            var quantity = document.getElementById(ProductId).value;
            $.ajax({
                type: "POST",
                url: '@Url.Action("AddToCart2", "Cart")',
                data: { ProductId: ProductId, quantity: quantity },
                success: function (result) {
                    $("#mydiv").load(location.href + " #mydiv");
                },

                error: function (abc) {
                    alert(abc.statusText);
                },
            });
        }
    </script>

    <script>
        function ReduceQuantity(ProductId) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("ReduceQuantity2", "Cart")',
                data: { id: ProductId },
                success: function (result) {
                    $("#mydiv").load(location.href + " #mydiv");
                },

                error: function (abc) {
                    alert(abc.statusText);
                },
            });
        }
    </script>
    <script>
        function IncreaseQuantity(ProductId) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("IncreaseQuantity2", "Cart")',
                data: { id: ProductId },
                success: function (result) {
                    $("#mydiv").load(location.href + " #mydiv");
                },

                error: function (abc) {
                    alert(abc.statusText);
                },
            });
        }
    </script>
    <script>
        function RemoveFromCart(ProductId) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("RemoveFromCart2", "Cart")',
                data: { id: ProductId },
                success: function (result) {
                    $("#mydiv").load(location.href + " #mydiv");
                },
                error: function (abc) {
                    alert(abc.statusText);
                },
            });
        }
    </script>
}