@model partner_aluro.Models.Product
@inject LanguageService language
@using partner_aluro.Core;
@using System.Globalization;
@using partner_aluro.Resources;

@*https://mansfeld.pl/programowanie/galeria-lightbox-bez-jquery/*@

@section LinkStyleHead
    {
    <link href="~/css/glightbox.css" rel="stylesheet" />
    <link href="~/css/glightbox.min.css" rel="stylesheet" />

    <link href="~/css/product.css" rel="stylesheet" />
    }
<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class="row justify-content-center align-items-center">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-10 col-xxl-8">
            <div class="card">	
                <div class="row g-0">
                        @if (User.IsInRole("Administrator") || User.IsInRole("Manager"))
                        {
                            <a asp-controller="Product" asp-action="Edit" asp-route-id="@Model.ProductId" class="text-end">Edytuj</a>
                        }

                    @{
                        var CenaJednostkowa = Model.CenaProduktu * (1 - (partner_aluro.Core.Constants.Rabat / 100));
                    }


                    <div class="col-md-6 border-end" id="content-wrapper">

                        <div class="column">
                            <div class="main_image">
                                @*<a id="myLink" href="~/img/produkty/@Model.Symbol/@Model.ImageUrl" class="glightbox">*@
                                @*<a id="myLink" href="~/img/produkty/@Model.Symbol/@Model.Product_Images.Where(x=>x.kolejnosc == 0).FirstOrDefault().ImageName" onclick="Open(this)" data-gallery="gallery" class="glightbox">*@
                                    @if(Model.Product_Images.Count() > 0)
                                    {
                                        <a id="myLink" href="~/img/p/@Model.Symbol/@Model.Product_Images[0].ImageName" onclick="Open(this)" data-gallery="gallery" class="glightbox">
                                            <img class="main_image" id=featured src="~/img/p/@Model.Symbol/@Model.Product_Images[0].ImageName">
                                        </a>
                                    }
                            </div>

                            <div id="slide-wrapper">
                                <img  id="slideLeft" class="arrow" src="~/img/produktslider/arrow-left.png">
                                <div id="slider">
                                    @foreach (var img in Model.Product_Images.OrderBy(o=>o.kolejnosc).Select((value, x) => (value,x)) )
                                    {
                                        
                                            var index = @img.x;
                                        

                                        <a href="~/img/p/@Model.Symbol/@img.value.ImageName" class="glightbox" data-gallery="gallery">
                                            <img id="@index" value="@img.value.kolejnosc" class="thumbnail_product" onmouseover="Over(this)" src="~/img/p/@Model.Symbol/@img.value.ImageName" alt="@img.value.Product" width="70px">
                                        </a>
                                    }
                                </div>
                                <img id="slideRight" class="arrow" src="~/img/produktslider/arrow-right.png">
                            </div>
                        </div>

                    </div>	
                    <div class="col-md-6">
                        <div class="p-2">
                            @*<div class="d-flex justify-content-between align-items-center">*@
                            <div class="row">
                                <h4>@language.Getkey(@Model.Name)</h4>
                            </div>
                            <div class="row">
                                <p>Symbol: <b>@Model.Symbol</b></p>
                            </div>
                            @if (@Model.KrotkiOpis != null)
                            {
                                <div class="row">@Html.Raw(@Model.KrotkiOpis)</div>
                            }
                            @*<div @*style="max-width:460px;" class="row body_product float-end text-end m-1 p-2">*@
                                @{
                                    var Cena_brutto = (decimal)Model.CenaProduktu * (decimal)partner_aluro.Core.Constants.Vat;
                                }
                            <div class="row">
                                <div class="col justify-content-end">
                                    @language.Getkey("CenaHurtowa"): @language.GetCurrently(Model.CenaProduktu, Constants.myNumberFormatInfo).ToString("C", Constants.myNumberFormatInfo) @language.Getkey("(netto)")
                                </div>
                            </div>
                            <div class="row">
                                <div class="col justify-content-end">
                                    <span class="hide invisible">@language.Getkey("CenaHurtowa"):</span> @language.GetCurrently(@Cena_brutto, Constants.myNumberFormatInfo).ToString("C",Constants.myNumberFormatInfo) @language.Getkey("(brutto)")
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    @if (@Model.CenaProduktuDetal != null)
                                    {
                                        <p>@language.Getkey("CenaDetaliczna"): @language.GetCurrently(@Model.CenaProduktuDetal, Constants.myNumberFormatInfo).ToString("C", Constants.myNumberFormatInfo)</p>
                                    }
                                </div>
                                <div class="col">

                                </div>
                            </div>


                            <div class="row card-bar-action align-items-center" >
                                    @if(Model.Ilosc <= 0)
                                    {
                                        <div>@language.Getkey("Produkt jest już niedostępny.")</div>
                                    }
                                    else
                                    {
                                    <div class="col-2">
                                        @language.Getkey("Ilość"):
                                    </div>
                                    <div class="col-2">
                                        <input type="number" id="@Model.ProductId" name="quantity" value="1" class="form-control" aria-required="true" placeholder="Ilość" min="1" maxlength="@Model.Ilosc" max="@Model.Ilosc" autocomplete="off" onChange="updateQuantityManual(this)" />
                                    </div>
                                    <div class="col">
                                        <button value="@Model.ProductId" onclick="AddToCart(@Model.ProductId)" class="btn btn-success" data-bs-target="offcanvas" role="button">@language.Getkey("Dodaj do zamowienia")</button>
                                    </div>
                                    }
                            </div>


                            <div class="row">

                                @if (@*Model.CenaPromocyja != null && *@Model.Promocja == true)
                                {
                                    decimal ProcentPromocji = (decimal)(1 - (Model.CenaPromocyja / Model.CenaProduktu)) * 100;


                                    <div class="sale" >@ProcentPromocji.ToString("##.") %</div>

                                    <span class="text-decoration-line-through">@Model.CenaProduktu.ToString("C")</span><br />
                                    <span>@Model.CenaPromocyja.ToString("C")</span>
                                    <div class="h2 text-danger">PROMOCJA: @ProcentPromocji.ToString(".##") %</div>
                                }


                                
                                <div class="row">
                                    <div class="col">@language.Getkey("Specyfikacja produktu:") </div>
                                </div>
                                @if (Model.SzerokoscProduktu != null && Model.SzerokoscProduktu != 0 || Model.WysokoscProduktu != null && Model.WysokoscProduktu != 0 || Model.GlebokoscProduktu != null && Model.GlebokoscProduktu != 0)
                                {
                                    <div class="row">
                                            <div class="col pl-3 m-0">@language.Getkey("Wymiary zewnetrzne:")</div>
                                    </div>
                                }
                                <div class="row">
                                    @if (Model.SzerokoscProduktu != null && Model.SzerokoscProduktu != 0)
                                    {
                                        <div class="col pl-3 m-0">@language.Getkey("Szerokość:") @Model.SzerokoscProduktu cm.</div>
                                    }
                                    @if (Model.WysokoscProduktu != null && Model.WysokoscProduktu != 0 )
                                    {
                                        <div class="col pl-3 m-0">@language.Getkey("Wysokość:") @Model.WysokoscProduktu cm.</div>
                                    }
                                    @if (Model.GlebokoscProduktu != null && Model.GlebokoscProduktu != 0)
                                    {
                                        <div class="col pl-3 m-0">@language.Getkey("Głębokość:") @Model.GlebokoscProduktu cm.</div>
                                    }
                                </div>

                                @if(Model.SzerokoscWewnetrznaProduktu != null && Model.SzerokoscWewnetrznaProduktu != 0 || Model.WysokoscWewnetrznaProduktu != null && Model.WysokoscWewnetrznaProduktu != 0 || Model.GlebokoscWewnetrznaProduktu != null && Model.GlebokoscWewnetrznaProduktu != 0)
                                {
                                    <div class="row p-0 m-0">
                                            <div class="col pl-3 m-0">@language.Getkey("Wymiary wewnętrzne:")</div>
                                    </div>
                                }
                                <div class="row p-0 m-0">
                                    @if (Model.SzerokoscWewnetrznaProduktu != null && Model.SzerokoscWewnetrznaProduktu != 0)
                                    {
                                        <div class="col pl-3 m-0">@language.Getkey("Szerokość:") @Model.SzerokoscWewnetrznaProduktu cm.</div>
                                    }
                                    @if (Model.WysokoscWewnetrznaProduktu != null && Model.WysokoscWewnetrznaProduktu != 0)
                                    {
                                        <div class="col pl-3 m-0">@language.Getkey("Wysokość:") @Model.WysokoscWewnetrznaProduktu cm.</div>
                                    }
                                    @if (Model.GlebokoscWewnetrznaProduktu != null && Model.GlebokoscWewnetrznaProduktu != 0)
                                    {
                                        <div class="col pl-3 m-0">@language.Getkey("Głębokość:") @Model.GlebokoscWewnetrznaProduktu cm.</div>
                                    }
                                </div>

                                @if(Model.WagaProduktu != null && Model.WagaProduktu != 0)
                                {
                                    <div class="row">
                                        <div class="col">@language.Getkey("Waga:") @Model.WagaProduktu kg.</div>
                                    </div>
                                }

                                @if(Model.Pakowanie != null)
                                {
                                <div class="row">
                                    <div class="col">@language.Getkey("Pakowanie:") @Model.Pakowanie </div>
                                </div>
                                }

                                @if (Model.Materiał != null)
                                {
                                    <div class="row">
                                        <div class="col">@language.Getkey("Materiał:") @Model.Materiał </div>
                                    </div>
                                }


                                <div class="row">
                                    <div class="col">@Html.Raw(@Model.Description)</div>
                                </div>

                            </div>

                            @*<div class="buttons d-flex flex-row mt-5 gap-3">
                                <button class="btn btn-outline-dark">Dodaj do zamówienia</button>
                            </div>*@
                        </div>	
                    </div>	
                </div> 
            </div>
        </div>
    </div>
</div>

@section Scripts {

    @*<script>
        function Open()
        {

        }
    </script>*@

    <script src="~/js/glightbox.js"></script>
    <script src="~/js/glightbox.min.js"></script>


    <script>
        function updateQuantityManual(_this) {
            let lot = 1;
            let qty = parseInt($(_this).val(), 10);
            let max = parseInt($(_this).attr('max'));
            let myQty = parseInt(qty, 10);
            if (qty > max) {
                $(_this).val(max);
                alert("Nie ma wystarczającej ilości na stanie.");
                return;
            }

            if ($(_this).data('lot')) {
                lot = parseInt($(_this).attr('data-lot'), 10);
            }


            if (qty % lot != 0) {
                qty = myQty + lot - (qty % lot);
                $(_this).val(qty);
            }
        }
    </script>

    <script>
        function Open(elem) {


            //var s= document.getElementById(variable).id;


            //lightbox.settings.startAt = s;
            //alert(s);
        }

    </script>
    <script>
        function Over(elem) {

            var value2 = elem.value;
            var id2 = elem.id;

            var num = parseInt(id2, 10) + 1

            lightbox.settings.startAt = num;
            //alert(id2);
        }

        const lightbox = GLightbox({
            touchNavigation: true,
            loop: false,
            autoplayVideos: true
        });
    </script>

    <script type="text/javascript">
		let thumbnails = document.getElementsByClassName('thumbnail_product');

		let activeImages = document.getElementsByClassName('active');

		for (var i=0; i < thumbnails.length; i++){

			thumbnails[i].addEventListener('mouseover', function(){
				console.log(activeImages);


				if (activeImages.length > 0){
					activeImages[0].classList.remove('active');
				}
				

				this.classList.add('active')
				document.getElementById('featured').src = this.src;

            })
		}


		let buttonRight = document.getElementById('slideRight');
		let buttonLeft = document.getElementById('slideLeft');

		buttonLeft.addEventListener('click', function(){
			document.getElementById('slider').scrollLeft -= 180
		})

		buttonRight.addEventListener('click', function(){
			document.getElementById('slider').scrollLeft += 180
		})


	</script>

    <script>
        function AddToCart(ProductId) {
            var myOffcanvas = document.getElementById('offcanvas');
            var bsOffcanvas = new bootstrap.Offcanvas(myOffcanvas);
            bsOffcanvas.show();

            var quantity = document.getElementById(ProductId).value;
            $.ajax({
                type: "POST",
                url: '@Url.Action("AddToCart2", "Cart")',
                data: { ProductId: ProductId, quantity: quantity },
                success: function (result) {
                    $("#mydiv").load(location.href + " #mydiv");
                },

                error: function (abc) {
                    alert(abc.statusText);
                },
            });
        }
    </script>

    <script>
        function ReduceQuantity(ProductId) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("ReduceQuantity2", "Cart")',
                data: { id: ProductId },
                success: function (result) {
                    $("#mydiv").load(location.href + " #mydiv");
                },

                error: function (abc) {
                    alert(abc.statusText);
                },
            });
        }
    </script>
    <script>
        function IncreaseQuantity(ProductId) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("IncreaseQuantity2", "Cart")',
                data: { id: ProductId },
                success: function (result) {
                    $("#mydiv").load(location.href + " #mydiv");
                },

                error: function (abc) {
                    alert(abc.statusText);
                },
            });
        }
    </script>
    <script>
        function RemoveFromCart(ProductId) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("RemoveFromCart2", "Cart")',
                data: { id: ProductId },
                success: function (result) {
                    $("#mydiv").load(location.href + " #mydiv");
                },
                error: function (abc) {
                    alert(abc.statusText);
                },
            });
        }
    </script>
}