@model partner_aluro.Models.Product
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<form class="needs-validation" asp-action="Edit" asp-route-id="@Model.ProductId" asp-controller="Product" class="form-horizontal" method="post" enctype="multipart/form-data">
        <div class="row g-0">
            <div class="col-md-6 border-end">
                @Html.HiddenFor(h=>Model.ProductId)
                @Html.ValidationSummary()
                @Html.Partial("_FormProduct")
            </div>
            <div class="col-md-6">
                @Html.Partial("_FormProductImage")
                <button type="submit">Dodaj produkt</button>
            </div>
        </div>
    </form>

@section Scripts {
    <script>
        function preview_images() {
            var total_file = document.getElementById("images").files.length;
            for (var i = 0; i < total_file; i++) {
                $('#image_preview').append("<div class='col-sm-2'><img  style='width: 110px;' src='" + URL.createObjectURL(event.target.files[i]) + "'></div>");
            }
        }
    </script>

    <script type="text/javascript">
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>

}