@model partner_aluro.Models.Product


@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

@section LinkStyleHead
    {
   @* <script src="https://cdn.tiny.cloud/1/7jymcsfhr21jkg9tegltt4mduk03g8tkuk3zgof7cwr9i3i5/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>*@
    <script src="~/js/tinymce/tinymce.min.js"></script>
    <script src="https://cdn.datatables.net/rowreorder/1.3.1/css/rowReorder.dataTables.min.css"></script>
    <script src="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css"></script>
    }



    <a class="btn btn-primary" asp-controller="Product" asp-action="Details" asp-route-id="@Model.ProductId">Podgląd </a>

<form class="needs-validation" asp-action="Edit" asp-route-id="@Model.ProductId" asp-controller="Product" class="form-horizontal" method="post" enctype="multipart/form-data">


    <button type="submit" class="btn btn-success">Zapisz zmiany</button>
    
    <div class="row g-0">

        <div class="col-md-8 border-end">
                @Html.HiddenFor(h=>Model.ProductId)
                @Html.ValidationSummary()
            @await Html.PartialAsync("_FormProduct")
            </hr>

            <button type="submit" class="btn btn-success">Zapisz zmiany</button>
                <button id="btnBack" runat="server" text="Back" class="btn btn-primary" onclick="JavaScript: window.history.back(1); return false;">Powrót</button>
            <hr />

            @{
                bool pokaz = true;
            }
            @foreach (var names in (IEnumerable<SelectListItem>)@ViewData["Category"] )
            {
                pokaz = true;

                var checkBoxId = "chk" + names.Value;
                var tdId = "td" + names.Value;
                <table width="100%">
                    <tr>
                        <td width="20px">

                            @foreach (var item in Model.Kategorie)
                            {
                                @if (item.CategoryID.ToString() == @names.Value)
                                {
                                    pokaz = false;
                                    <input onclick="AddToKategoria(@Model.ProductId,@names.Value)" type="checkbox" id="@checkBoxId" class="chkclass" value="@names.Value" checked />

                                    @names.Text
                                }
                            }

                            @if (pokaz)
                            {
                                <input onclick="AddToKategoria(@Model.ProductId,@names.Value)" type="checkbox" id="@checkBoxId" class="chkclass" value="@names.Value" />
                                @names.Text
                            }
                            else
                            {

                            }

                        </td>
                    </tr>
                </table>
            }




        </div>
        <div class="col-md-4">
                @await Html.PartialAsync("_FormProductImage")
            </div>
    </div>
    </form>

@section Scripts {
    <script src="https://cdn.datatables.net/rowreorder/1.3.1/js/dataTables.rowReorder.min.js"></script>

    <script>
        $(function () {
            $("#CenaBrutto").on("keyup change", function (e) {
                var CenaBrutto = $("#CenaBrutto").val();
                    $.ajax({
                        type: "POST",
                    url: '@Url.Action("CenaNetto","Product")',
                    data: { CenaBrutto: CenaBrutto },
                        success: function (result) {
                            document.getElementById("CenaNetto").value = result;
                            //$("#dane_firmy").load(location.href + " #dane_firmy");
                        },
                        error: function (abc) {
                            alert(abc.statusText);
                        },
                    });
            });
        });
    </script>

    <script>
        function DeleteImage(ImageId, returnUrl) {

            $.ajax({
                type: "POST",
                url: '@Url.Action("Delete2", "Image")',
                data: { ImageId: ImageId, returnUrl: returnUrl },
                success: function (result) {
                },
                error: function (abc) {
                    alert(abc.statusText);
                },
            });
        }
    </script>

    <script type="text/javascript">
                var table = $('#ProductEditImage').DataTable({
            rowReorder: {
            selector: 'tr'
                },
                columnDefs: [
                    { targets: 2, visible: false }
                ],
            select: true
            });

        $('#ProductEditImage').on('row-reorder.dt', function (dragEvent, data, nodes) {

            for (var i = 0, ien = data.length; i < ien; i++) {

                var rowData = table.row(data[i].node).data();

                var Id = i;
                var oldPosition = data[i].oldPosition;
                var newPosition = data[i].newPosition;


                $.ajax({
                type: "POST",
                cache: false,
                url: '@Url.Action("UpdateRow", "Product")',
                    data: { ImageId: rowData[2], kolejnosc: rowData[0], Id: rowData.id, oldPosition: oldPosition, newPosition: newPosition },
                    success: function (result) {

                        $("#ProductEditImage").ajax.reload(null, false);
                    },
                    error: function (abc) {
                        alert(abc.statusText);
                    },
                });
            }
        });
   </script>



@*
    <script>
        $(document).ready(function () {
            $('#ProductEditImage').DataTable(
                {
                    rowReorder: true,
                    "columnDefs": [
                        { "width": "50px", "targets": 0 }
                    ],
                    "order": [[1, 'asc']]
                });
        });
    </script>*@

@*
    <script>
        $(document).ready(function() {
            $('#ProductEditImage').DataTable({
                rowReorder: true
            } );
        } );
    </script>*@

    <script src="~/js/tinymceproduct.js"></script>
    <script>
        function preview_images() {
            var total_file = document.getElementById("images").files.length;
            for (var i = 0; i < total_file; i++) {
                $('#image_preview').append("<div class='col-sm-2'><img  style='width: 110px;' src='" + URL.createObjectURL(event.target.files[i]) + "'></div>");
            }
        }
    </script>
    <script type="text/javascript">
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
    <script>
        function AddToKategoria(ProduktId, KategoriaID) {
            var check = document.getElementById('chk' + KategoriaID);
            if (check.checked) {
                check = true;
            } else {
                check = false;
            }

            $.ajax({
                type: "POST",
                url: '@Url.Action("AddToKategoria", "Product")',
                data: { ProduktId: ProduktId, KategoriaID: KategoriaID, check: check },
                success: function (result) {
                },
                error: function (abc) {
                    alert(abc.statusText);
                },
            });
        }
    </script>

}