@{
    ViewData["Title"] = "Lista produktów wybranej Kategorii";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}


@model IEnumerable<partner_aluro.Models.Product>

@*
@model partner_aluro.ViewModels.AddProductFormModel
*@
<h1>Lista produktów</h1>
<div class="text-center">
    <h1 class="display-4">Lista produktów</h1>
    
    <a asp-controller="Product" asp-action="Add" class="btn btn-success" px-3">
    Dodaj produkt
    </a>


    @if (@Model != null && @Model.Any())
    {
        <div class="row">
            <div class="col-md-12 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="example"
                               class="table table-striped data-table"
                               style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Obrazek</th>
                                        <th>Symbol</th>
                                        <th>Nazwa produktu</th>
                                        <th>Cena produktu</th>
                                        <th>Cena sprzedazy</th>
                                        <th>Opis produktu</th>
                                        <th>Kategoria</th>
                                        <th>Edit</th>
                                        <th>Usuń</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var productFormModel in Model)
                                    {
                                        <tr>
                                            <td>@productFormModel.ProductId</td>
                                            <td><img class="img-thumbnail" src="~/images/produkty/@productFormModel.Symbol/@productFormModel.ImageUrl" alt="@productFormModel.Name" style="width:75px;height:75px;"></td>
                                            <td>@productFormModel.Symbol</td>
                                            <td>@productFormModel.Name</td>
                                            <td>@productFormModel.CenaProduktu.ToString("C")</td>
                                            <td>@productFormModel.CenaProduktuDetal</td>
                                            <td>@productFormModel.Description</td>
                                            <td>@productFormModel.CategoryNavigation.Name</td>
                                            <td>
                                                <a asp-controller="Product" asp-action="Edit" asp-route-id="@productFormModel.ProductId">Edit</a>
                                            </td>
                                            <td>
                                                <a asp-controller="Product" asp-action="Delete" asp-route-id="@productFormModel.ProductId">Usuń</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th scope="col">Id</th>
                                        <th scope="col">Obrazek</th>
                                        <th scope="col">Symbol</th>
                                        <th scope="col">Nazwa produktu</th>
                                        <th scope="col">Cena produktu</th>
                                        <th scope="col">Cena sprzedazy</th>
                                        <th scope="col">Opis</th>
                                        <th scope="col">Kategoria</th>
                                        <th scope="col">Edytuj</th>
                                        <th scope="col">Usuń</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }

</div>

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
