@{
    ViewData["Title"] = "Lista produktów wybranej Kategorii";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
@model List<partner_aluro.Models.ProductsList>

<div class="row sticky-top bg-light border-bottom">
    <div class="col"><h3>Produkty</h3></div>
    <div class="col">
        <a asp-controller="Product" asp-action="Add" class="btn btn-success float-end" px-3">
            Dodaj nowy produkt
        </a>
        <a asp-controller="Excel" asp-action="GenerateExcel" class="btn btn-success float-end" px-3">
            Stwórz ofertę
        </a>
    </div>
</div>

<div class="table-responsive">
    <table id="ProductTableList" class="cell-border display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Id</th>
                <th></th>
                <th>Obraz</th>
                <th>Symbol</th>
                <th>Nazwa produktu</th>
                <th>Cena produktu (brutto)</th>
                <th>Cena detaliczna</th>
                <th>Kategoria</th>
                <th>Ilość</th>
                <th>Ukryte</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var productFormModel in Model)
            {
                <tr id="@productFormModel.ProductId">
                    <td>@productFormModel.ProductId</td>
                    <td><input id="chkP_@productFormModel.ProductId" onchange="ChangeCheck(@productFormModel.ProductId)" type="checkbox" value="@productFormModel.ProductId" data-toggle="toggle"></td>
                    <td>
                        <img class="lazy" src="~/@productFormModel.pathImageUrl250x250" style="width:70px;height:70px;">
                    </td>
                    <td>@productFormModel.Symbol</td>
                    <td><a asp-controller="Product" asp-action="Edit" asp-route-id="@productFormModel.ProductId">@productFormModel.Name</a></td>
                    <td>@productFormModel.CenaProduktuBrutto.ToString("C")</td>
                    <td>@productFormModel.CenaProduktuDetal.ToString("C")</td>
                    <td>
                    <select onchange="ChangeCategory(@productFormModel.ProductId, @productFormModel.CategoryId)" id="select_@productFormModel.ProductId" style="width:180px;" asp-for="@productFormModel.CategoryId" asp-items="(IEnumerable<SelectListItem>)@ViewData["Category"]"></select>
                    </td>
                    <th>
                        <input onchange="ChangeIlosc(@productFormModel.ProductId)" asp-for="@productFormModel.Ilosc" id="ilosc_@productFormModel.ProductId" aria-required="true" style="max-width: 50px" />
                    </th>
                    <td><input id="chkUkryty_@productFormModel.ProductId" onchange="ChangeCheckUkrytyA(@productFormModel.ProductId)" type="checkbox" data-toggle="toggle" checked="@productFormModel.Ukryty"></td>
                    <td>
                        <a asp-controller="Product" asp-action="Edit" asp-route-id="@productFormModel.ProductId">Edytuj</a> |
                        <a asp-controller="Product" asp-action="Delete" asp-route-id="@productFormModel.ProductId">Usuń</a> |
                        <a asp-controller="Product" asp-action="Details" asp-route-id="@productFormModel.ProductId">Podgląd</a>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td>Id</td>
                <td></td>
                <td>Obraz</td>
                <td>Symbol</td>
                <th>Nazwa produktu</th>
                <td>Cena produktu (brutto)</td>
                <td>Cena detaliczna</td>
                <th>Kategoria</th>
                <td>Ilość</td>
                <td>Ukryte</td>
                <td>Akcje</td>
            </tr>
        </tfoot>
    </table>
</div>

@section Scripts{
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.min.js"></script>
    <script src="~/js/product/list.js"></script>

    <script>
        function ChangeCategory(ProduktId, CategoryId) {
            var d = document.getElementById("select_" + ProduktId).value;
            $.ajax({
                type: "POST",
                url: '@Url.Action("ChangeCategory", "Product")',
                data: { ProduktId: ProduktId, KategoriaID: d },
                success: function (result) {
                },
                error: function (abc) {
                    alert(abc.statusText);
                },
            });
        };
        function ChangeCheck(ProduktId) {
            var check = document.getElementById('chkP_' + ProduktId);
            if (check.checked == true) {
                check.checked = false;
                check = false;
            } else {
                check.checked = true;
                check = true;
            }
            $.ajax({
                type: "POST",
                url: '@Url.Action("TakeProduct", "Product")',
                data: { ProduktId: ProduktId, check: check },
                success: function (result) {

                },
                error: function (abc) {
                    alert(abc.statusText);
                },
            });
        };
        function ChangeCheckUkrytyA(ProduktId) {

            $.ajax({
                type: "POST",
                url: '@Url.Action("ChangeCheckUkryty", "Product")',
                data: { ProduktId: ProduktId },
                success: function (result) {
                },
                error: function (abc) {
                },
            });
        };
        function ChangeIlosc(ProduktId) {
            var d = document.getElementById("ilosc_" + ProduktId).value;
            $.ajax({
                type: "POST",
                url: '@Url.Action("ChangeIlosc", "Product")',
                data: { ProduktId: ProduktId, Ilosc: d },
                success: function (result) {
                    if (document.getElementById('chkUkryty_' + ProduktId).checked) {
                        checkUkryty.checked = false;
                        checkUkryty = false;
                    } else {
                        checkUkryty.checked = true;
                        checkUkryty = true;
                    }
                },
                error: function (abc) {
                    alert(abc.statusText);
                },
            });
        };
        $('#ProductTableList tbody').on('click', 'tr', function () {
            $(this).toggleClass('selected');

            var ProduktId = $(this).attr("id");

            var check = document.getElementById('chkP_' + ProduktId);

            if (check.checked == true) {
                check.checked = false;
                check = false;
            } else {
                check.checked = true;
                check = true;
            }
            $.ajax({
                type: "POST",
                url: '@Url.Action("TakeProduct", "Product")',
                data: { ProduktId: ProduktId, check: check },
                success: function (result) {
                },
                error: function (abc) {
                    alert(abc.statusText);
                },
            });
        });
    </script>
}