@{
    ViewData["Title"] = "Lista produktów wybranej Kategorii";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}


@model List<partner_aluro.Models.Product>

@section LinkStyleHead
    {

    }
@*
@model partner_aluro.ViewModels.AddProductFormModel
*@

<div>
    <h1 class="display-4">Produkty</h1>
    
    <a asp-controller="Product" asp-action="Add" class="btn btn-success" px-3">
        Dodaj nowy produkt
    </a>

    <a asp-controller="Excel" asp-action="GenerateExcel" class="btn btn-success" px-3">
        Stwórz ofertę
    </a>
    @if (@Model != null && @Model.Any())
    {
        @*<div class="row">
            <div class="col-md-12 mb-3">
                <div class="card">
    <div class="card-body">*@

                        <div class="table-responsive">

                            <table id="ProductTableList" class="display" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th></th>
                                        <th>Obraz</th>
                                        <th>Symbol</th>
                                        <th>Nazwa produktu</th>
                                        <th>Cena produktu (brutto)</th>
                                        <th>Cena detaliczna</th>
                                        <th>Kategoria</th>
                                        <th>Ilość</th>
                                        <th>Ukryte</th>
                                        <th>Akcje</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var productFormModel in Model)
                                    {
                                        <tr id="@productFormModel.ProductId">
                                            <td>@productFormModel.ProductId</td>
                                            <td><input id="chkP_@productFormModel.ProductId" onchange="ChangeCheck(@productFormModel.ProductId)" type="checkbox" value="@productFormModel.ProductId" data-toggle="toggle"></td>

                                            <td>
                                                <img class="img-thumbnail" src="~/@productFormModel.pathImageUrl250x250" style="width:70px;height:70px;">
                                            </td>

                                            <td>@productFormModel.Symbol</td>
                                            <td><a asp-controller="Product" asp-action="Edit" asp-route-id="@productFormModel.ProductId">@productFormModel.Name</a></td>
                                            <td>@productFormModel.CenaProduktuBrutto.ToString("C")</td>
                                            <td>@productFormModel.CenaProduktuDetal.ToString("C")</td>
                                            @*<td>
                                                @productFormModel.CategoryNavigation.Name
                                            </td>*@
                                            <td>
                                                <select onchange="ChangeCategory(@productFormModel.ProductId, @productFormModel.CategoryId)" id="select_@productFormModel.ProductId" asp-for="@productFormModel.CategoryId" asp-items="(IEnumerable<SelectListItem>)@ViewData["Category"]">
                                                </select>
                                            </td>
                                            <th>
                                                @{
                                                    int ile = Decimal.ToInt32(productFormModel.Ilosc);
                                                }
                                                <input onchange="ChangeIlosc(@productFormModel.ProductId)" asp-for="@ile" id="ilosc_@productFormModel.ProductId" aria-required="true" style="max-width: 70px" />
                                            </th>
                                            <th>
                                                @if (productFormModel.Ukryty == true)
                                                {
                                                    <input type="checkbox" data-toggle="toggle" checked disabled>
                                                }else
                                                {
                                                    <input type="checkbox" data-toggle="toggle" unchecked disabled>
                                                }
                                            </th>
                                            <td>
                                                <a asp-controller="Product" asp-action="Edit" asp-route-id="@productFormModel.ProductId">Edytuj</a> |
                                                <a asp-controller="Product" asp-action="Delete" asp-route-id="@productFormModel.ProductId">Usuń</a> |
                                                <a asp-controller="Product" asp-action="Details" asp-route-id="@productFormModel.ProductId">Podgląd</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td>Id</td>
                                        <td></td>
                                        <td>Obraz</td>
                                        <td>Symbol</td>
                                        <th>Nazwa produktu</th>
                                        <td>Cena produktu (brutto)</td>
                                        <td>Cena detaliczna</td>
                                        <td>Kategoria</td>
                                        <td>Ilość</td>
                                        <td>Ukryte</td>
                                        <td>Akcje</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
        @* </div>
                </div>
            </div>
        </div>*@

    }

</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#ProductTableList tfoot th').each(function () {
                var title = $(this).text();
                $(this).html('<input type="text" class="'+title+'" placeholder="Szukaj po' + title + '" />');
            });

            var table = $('#ProductTableList').DataTable({
                responsive: true,
                initComplete: function () {
                    // Apply the search
                    this.api()
                        .columns()
                        .every(function () {
                            var that = this;
                            $('input', this.footer()).on('keyup change clear', function () {
                                if (that.search() !== this.value) {
                                    that.search(this.value).draw();
                                }
                            });
                        });
                },
                fixedHeader: {
                    headerOffset: 56,
                    header: true,
                    footer: true
                },
                dom: 'lBfrtip',
                select: true,
                buttons: [
                    {
                        text: 'Zaznacz/Odznacz wszystkie',
                        action: function () {
                            table.rows({page: 'current'}).select()

                            var count = table.rows( { selected: true } ).count();

                            var data = table.rows( { selected: true } ).data();

                            for (var i = 0; i < count; i++) {
                                var selectRow = table.row(':eq('+i+')').select();
                                var ProduktId = selectRow.id();

                                var check = document.getElementById('chkP_' + ProduktId);

                                if (check.checked == true) {
                                    check.checked = false;
                                    check = false;
                                }else{
                                    check.checked = true;
                                    check = true;
                                }
                                
                                $.ajax({
                                type: "POST",
                                url: '@Url.Action("TakeProductId", "Product")',
                                data: { ProduktId: ProduktId },
                                success: function (result) {
                                },
                                error: function (abc) {
                                    alert("Error czasem tak bywa. :)");
                                },
                                });
                            }
                        }
                    }
                ],
                "language": {
                    "lengthMenu": "Wyświetl _MENU_ produktów na strone.",
                    "zeroRecords": "Nic nie znaleziono-sory Gregory",
                    "info": "Wyświetl stronę nr _PAGE_ / _PAGES_",
                    "infoEmpty": "Brak wyników",
                    "infoFiltered": "(filtered from _MAX_ total records)"
                },
                lengthMenu: [
                    [10, 25, 50, -1],
                    [10, 25, 50, 'All'],
                ],
                "columnDefs": [
                    { "width": "7px", "targets": 0 },
                    { "width": "7px", "targets": 1 },
                    { "width": "20px", "targets": 2 },
                    { "width": "20px", "targets": 3 }
                ],
                pageLength: 50,
                "order": [[0, 'desc'], [3, 'desc']]
            });

            $('#ProductTableList tbody').on('click', 'tr', function () {
                $(this).toggleClass('selected');

                var ProduktId = $(this).attr("id");

                var check = document.getElementById('chkP_' + ProduktId);

                if (check.checked == true) {
                    check.checked = false;
                    check = false;
                }else{
                    check.checked = true;
                    check = true;
                }

                    $.ajax({
                    type: "POST",
                    url: '@Url.Action("TakeProduct", "Product")',
                    data: { ProduktId: ProduktId, check: check },
                    success: function (result) {

                    },

                    error: function (abc) {
                        alert(abc.statusText);
                    },
                    });


                //$.ajax({
                //    type: "POST",
                //    url: '@Url.Action("TakeProduct", "Product")',
                //    data: { ProduktId: ProduktId, check: check },
                //    success: function (result) {

                //    },

                //    error: function (abc) {
                //        alert(abc.statusText);
                //    },
                //});


                //alert(table.rows('.selected').data().length + ' row(s) selected' + ProduktId);
            });

            $('#Zaznacz').click(function () {
                alert(table.rows('.selected').data().length + ' row(s) selected');

            });


        });
    </script>
    <script>
        function ChangeCategory(ProduktId, CategoryId) {

            var d = document.getElementById("select_"+ProduktId).value;

            $.ajax({
                type: "POST",
                url: '@Url.Action("ChangeCategory", "Product")',
                data: { ProduktId: ProduktId, KategoriaID: d },
                success: function (result) {

                },

                error: function (abc) {
                    alert(abc.statusText);
                },
            });
        }
    </script>
    <script>
        function ChangeCheck(ProduktId) {



            var check = document.getElementById('chkP_' + ProduktId);
            //if (check.checked) {
            //    check = true;
            //}else {
            //    check = false;
            //}


            if (check.checked == true) {
                check.checked = false;
                check = false;
            } else {
                check.checked = true;
                check = true;
            }

            $.ajax({
            type: "POST",
            url: '@Url.Action("TakeProduct", "Product")',
            data: { ProduktId: ProduktId, check: check },
            success: function (result) {

            },

            error: function (abc) {
                alert(abc.statusText);
            },
            });

                //checkBox = document.getElementById('takenBefore').addEventListener('click', event => {
                //    if (event.target.checked) {
                //        alert("Checkbox checked!");
                //    }
                //});
            //alert(table.rows('.selected').data().length + ' row(s) selected');

            //$.ajax({
            //    type: "POST",
            //    url: '@Url.Action("TakeProduct", "Product")',
            //    data: { ProduktId: ProduktId, check: check },
            //    success: function (result) {

            //    },

            //    error: function (abc) {
            //        alert(abc.statusText);
            //    },
            //});
        }
    </script>
    <script>
        function ChangeIlosc(ProduktId) {

            var d = document.getElementById("ilosc_" + ProduktId).value;

            $.ajax({
                type: "POST",
                url: '@Url.Action("ChangeIlosc", "Product")',
                data: { ProduktId: ProduktId, Ilosc: d },
                success: function (result) {

                },

                error: function (abc) {
                    alert(abc.statusText);
                },
            });
        }
    </script>
}