@model partner_aluro.ViewModels.HomeViewModel

@{
    ViewBag.Title = "Aluro - Strona główna";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@inject LanguageService language

@section LinkStyleHead
    {

    }

    @*SLIDER*@
            @*<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="~/images/sliderhome/slider1.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="~/images/sliderhome/slider2.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="~/images/sliderhome/slider3.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="~/images/sliderhome/slider4.jpg" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>*@
    @* KONIEC SLIDER*@

    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 bg-white border-top border-bottom pt-2 pl-2">
        <div class="row justify-content-center align-items-center">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-10 col-xxl-8">
                <div class="row">
                    @{
                    int i = 0;
                    i++;
                    }
                    <h4>@language.Getkey("Nowości")</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 bg-light">
        <div class="row justify-content-center align-items-center">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-10 col-xxl-8">
                @*SLIDER PRODUKTOW NA STRONIE GLOWNEJ KONIEC*@
                <div class="owl-carousel owl-theme">
                    @foreach (var produkt in Model.Nowosci)
                    {
                    <div class="col product-item mx-auto">
                        @await Html.PartialAsync("_ProductCart",(Product)@produkt)
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>


<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 bg-white border-top border-bottom">
        <div class="row justify-content-center align-items-center">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-10 col-xxl-8 pt-2 pl-2">
                <div class="row">
                    <h4>Popularne</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 bg-light">
        <div class="row justify-content-center align-items-center">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-10 col-xxl-8">
                    @*SLIDER PRODUKTOW NA STRONIE GLOWNEJ KONIEC*@
                <div class="owl-carousel owl-theme">
                    @foreach (var produkt in Model.Nowosci)
                    {
                        <div class="col product-item mx-auto">
                            @await Html.PartialAsync("_ProductCart",(Product)@produkt)
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
@section Scripts{
    <script>
        function AddToCart(ProductId) {
            var myOffcanvas = document.getElementById('offcanvas');
            var bsOffcanvas = new bootstrap.Offcanvas(myOffcanvas);
            bsOffcanvas.show();
            var quantity = document.getElementById(ProductId).value;
            $.ajax({
                type: "POST",
                url: '@Url.Action("AddToCart2", "Cart")',
                data: { ProductId: ProductId, quantity: quantity },
                success: function (result) {
                    $("#mydiv").load(location.href + " #mydiv");
                },
                error: function (abc) {
                    alert(abc.statusText);
                },
            });
        }
    </script>
    <script>
        function ReduceQuantity(ProductId) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("ReduceQuantity2", "Cart")',
                data: { id: ProductId },
                success: function (result) {
                    $("#mydiv").load(location.href + " #mydiv");
                },

                error: function (abc) {
                    alert(abc.statusText);
                },
            });
        }
    </script>
    <script>
        function IncreaseQuantity(ProductId) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("IncreaseQuantity2", "Cart")',
                data: { id: ProductId },
                success: function (result) {
                    $("#mydiv").load(location.href + " #mydiv");
                },

                error: function (abc) {
                    alert(abc.statusText);
                },
            });
        }
    </script>
    <script>
        function RemoveFromCart(ProductId) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("RemoveFromCart2", "Cart")',
                data: { id: ProductId },
                success: function (result) {
                    $("#mydiv").load(location.href + " #mydiv");
                },
                error: function (abc) {
                    alert(abc.statusText);
                },
            });
        }
    </script>

}

