@*@model List<partner_aluro.Models.CartItem>*@
@*@model IEnumerable<IGrouping<string, CartItem>>*@
@model IEnumerable<partner_aluro.Models.Cart>

@*@model IEnumerable<string CartId, IEnumerable<ApplicationUser> User>*@

@{
    ViewData["Title"] = "Zamowienia";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<div class="table-responsive">
    <table id="CartTableList" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>CartsId</th>
                <th>Ilość Produktów</th>
                <th>Wartość</th>
                <th>Klient</th>
                <th>Firma</th>
                @*<th>Zrealizowane</th>*@
                <th>Data</th>
                <th>Akcja</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Select((value,i)=>new { i, value }))
            {
                string color = "#ffb9b9";

                string wiadomosc = "Koszyk niezrelizowany";

                @if(item.value.Zrealizowane == true)
                {
                    color = "#6ab170";

                    wiadomosc = "Koszyk zrealizowany";
                }
                
                <tr>
                    <td>
                        @item.value.CartaId
                    </td>
                    <td>
                        <span>@wiadomosc </span>

                    </td>
                    <td>
                        @item.value.CartItems.Count()
                    </td>
                    <td>
                       <span style="background-color:@color">@item.value.RazemBrutto.ToString("# ###.00")</span>


                    </td>
                    <td>
                        @item.value.user.Imie @item.value.user.Nazwisko

                    </td>
                    <td>
                        @item.value.user.NazwaFirmy

                    </td>
                    @*<td>
                        @item.value.Zrealizowane
                    </td>*@
                    <th>
                        @item.value.dataPowstania.ToString("yyyy-MM-dd HH:mm:ss")
                    </th>
                    <td>
                        <a class="btn btn-success" asp-controller="Cart" asp-action="Details" asp-route-CartID="@item.value.CartaId">Więcej</a>

                        @{
                            DateTime data1 = item.value.dataPowstania;
                            DateTime data2 = DateTime.Now;

                            var roznica = data2 - data1;
                        }

                        @if (item.value.Zrealizowane == false && roznica >= TimeSpan.FromDays(30))
                        {
                        <a class="btn btn-success" asp-controller="Cart" asp-action="Delete" asp-route-CartID="@item.value.CartaId">Usuń</a>
                        }
                        else
                        {}
                    </td>
                </tr>
            }

           @* @foreach (var item in Model.group)
            {
                <tr>
                    <td>
                        @item.Key
                    </td>
                    <td>
                        
                        @{
                            decimal cena =0; 
                        }

                        @foreach (var item2 in item)
                        {
                           
                            cena += (decimal)item2.Product.CenaProduktu * item2.Quantity;


                        }

                        @cena

                    </td>
                    <td>
                        Klient

                    </td>
                    <td>
                        <a class="btn btn-succes" asp-controller="Cart" asp-action="Details" asp-route-CartID="@item.Key">Więcej</a>
                    </td>
                </tr>
            
            }*@

            @*@for (var i = 0; i < @Model.Count(); i++)
            {
                <tr>
                    <td>@Model[i].CartItemId</td>
                    <td>
                        <img class="img-thumbnail" src="~/img/produkty/@Model[i].Product.Symbol/@Model[i].Product.ImageUrl" style="width:50px;height:50px;">
                        @Model[i].Product.Name</td>
                    <td>@Model[i].Quantity</td>
                    <td>@Model[i].CartId</td>
                    <td>@Model[i].User</td>
                    <td>@Model[i].Data</td>
                </tr>
            }*@
        </tbody>
    </table>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#CartTableList').DataTable(
                {
                    fixedHeader: {
                        headerOffset: 56,
                        header: true,
                        footer: true
                    },
                    "columnDefs": [
                        { "width": "50px", "targets": 2 }
                    ],
                    pageLength: 50,
                    "order": [6, 'desc']
                });
        });
    </script>
}