@model partner_aluro.Models.Newsletter

@{
    ViewData["Title"] = "Dodaj Newsletter";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
@section LinkStyleHead
    {
    @*<link href="~/dashboard/datatables/datatables.min.css" rel="stylesheet" />*@
    <link href="~/css/newsletter/newsletter.css" rel="stylesheet" />
    <script src="~/js/tinymce/tinymce.min.js"></script>
    }

    <div class="row">

        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" href="#dodajprodukty">Dodaj produkty</a></li>
            <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#wiadomosc">Podglad wiadomosci</a></li>
        </ul>
    </div>
    <div class="tab-content">
           <div class="tab-pane @ViewData["active1"]" id="dodajprodukty">
                <form class="needs-validation" asp-action="Edit" asp-route-id="@Model.NewsletterID" asp-controller="Newsletter" class="form-horizontal" method="post" enctype="multipart/form-data">
         
                    <div class="row">
                        <div class="col">
                            <div class="row g-0">
                                    <div class="col-md-12 border-end">
                                        @Html.ValidationSummary()
                                        @await Html.PartialAsync("_FormNewsletter")
                                    </div>
                                    <div class="col-md-1">
                                        <button type ="submit">
                                            Następny etap
                                        </button>
                                    </div>
                            </div>
                            <button asp-controller="Newsletter" asp-action="SendEmail">Wyslij</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="tab-pane @ViewData["active2"]" id="wiadomosc">
                <div class="row">
                    <div class="col">
                        <form class="needs-validation" asp-action="NewsletterEdit" asp-route-id="@Model.NewsletterID" asp-controller="Newsletter" class="form-horizontal" method="post" enctype="multipart/form-data">
         
                            <div class="row g-0">
                                <div class="col-md-12 border-end">
                                    @Html.ValidationSummary()
                                    @await Html.PartialAsync("_FormNewsletterView")
                                </div>
                                <div class="col-md-1">
                                    <button type="submit" class="btn btn-success">Zapisz</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

    </div>



    @section Scripts {
        <script>
        tinymce.init({
            selector: '#editor2',  // change this value according to your HTML
            plugin: 'a_tinymce_plugin',
            menubar: false,
            statusbar: false,
            height: "800",
            a_plugin_option: true,
            a_configuration_option: 400
        });
            </script>


@*<script src="~/js/tinymceNewsletter.js"></script>*@

        <script src="~/dashboard/js/scriptnewsletter.js"></script>  @* tabelki*@
        <script>

            var ile=0;

            function DodajDoNewsletter(ProduktId) {
                ile++;
                //var check = document.getElementById('Nazwa'+ KategoriaID);

                //document.getElementById('Nazwa'+ProduktId).innerHTML = "element";
                //alert('test2');

                var activeEditor = tinyMCE.get('editor2');
                var content = activeEditor.getContent();
                //var content1 = `<div><a href="#"><img src="https://localhost:44315/Images/Aluro_logo-x-300_2.png" alt="Aluro_logo-x-300_2.png" width="583" height="290">tekst</a> ${ProduktId},</div>`;


                activeEditor.setContent("");
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("AddProductNewsletter", "Newsletter")',
                    data: { ProduktId: ProduktId, ile: ile, content: content },
                    success: function (result) {
                        activeEditor.setContent(result);
                    },

                    error: function (abc) {
                        alert(abc.statusText);
                    },
                });
            }
        </script>

                                <script src="~/js/tinymceNewsletterEdit.js"></script>

                                <script>

                                    var ile = 0;

                                    function DodajDoNewsletter2() {

                                        var activeEditor = tinyMCE.get('editorNewsletter2');
                                        var content = activeEditor.getContent();
                                        //var content1 = `<div><a href="#"><img src="https://localhost:44315/Images/Aluro_logo-x-300_2.png" alt="Aluro_logo-x-300_2.png" width="583" height="290">tekst</a> ${ProduktId},</div>`;


                                        //activeEditor.setContent("");
                                        $.ajax({
                                            type: "POST",
                                            url: '@Url.Action("WstawProdukty", "Newsletter")',
                                            data: { content: content },
                                            success: function (result) {
                                                tinymce.activeEditor.execCommand('mceInsertContent', false, result);
                                                //activeEditor.setContent(result);
                                            },

                                            error: function (abc) {
                                                alert(abc.statusText);
                                            },
                                        });
                                    }
                                </script>


    }