@model partner_aluro.Models.Newsletter

@{
    ViewData["Title"] = "Dodaj Newsletter";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
@section LinkStyleHead
    {
    @*<link href="~/dashboard/datatables/datatables.min.css" rel="stylesheet" />*@
    <link href="~/css/newsletter/newsletter.css" rel="stylesheet" />
    <script src="~/js/tinymce/tinymce.min.js"></script>
    }

    <div class="row">

        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" href="#dodajprodukty">Dodaj produkty</a></li>
            <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#wiadomosc">Podglad wiadomosci</a></li>
            <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#ogolne">Ogolne</a></li>
        </ul>
    </div>
    <div class="tab-content">
           <div class="tab-pane @ViewData["active1"]" id="dodajprodukty">
               <form class="needs-validation" asp-action="Edit" asp-route-id="@Model.NewsletterID" asp-controller="Newsletter" class="form-horizontal" method="post" enctype="multipart/form-data">

                    <div class="row">
                        <div class="col">
                            <div class="row g-0">
                        <div class="col-md-12 border-end" id="mydiv">
                                        @Html.ValidationSummary()
                                        @await Html.PartialAsync("_FormNewsletter")
                                    </div>
                            </div>
                            
                        </div>

                    </div>
                <button type="submit">
                    Następny etap
                </button>


                </form>
            </div>
            <div class="tab-pane @ViewData["active2"]" id="wiadomosc">
                <div class="row">
                    <div class="col">


                        <form class="needs-validation" asp-action="NewsletterEdit" asp-route-id="@Model.NewsletterID" asp-controller="Newsletter" class="form-horizontal" method="post" enctype="multipart/form-data">
         
                            <div class="row g-0">
                                <div class="col-md-12 border-end">
                                    @Html.ValidationSummary()
                                    @await Html.PartialAsync("_FormNewsletterView")
                                </div>
                                <div class="col-md-1">
                                    <button type="submit" class="btn btn-success">Zapisz</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        <div class="tab-pane @ViewData["active3"]" id="ogolne">
            <div class="row">
                <div class="col">
                    <form class="needs-validation" asp-action="NewsletterEditOgolne" asp-route-id="@Model.NewsletterID" asp-controller="Newsletter" class="form-horizontal" method="post" enctype="multipart/form-data">

                        <div class="row g-0">
                                    @Html.ValidationSummary()
                                    @await Html.PartialAsync("_FormNewsletterOgolne")

                            <div class="col-md-1">
                                <button type="submit" class="btn btn-success">Zapisz</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <button asp-controller="Newsletter" asp-action="SendEmail" asp-route-id="@Model.NewsletterID">Wyslij</button>

    </div>



    @section Scripts {
@*  <script>
        $(document).ready(function () {
            $(document).on("change", "#selectCategroy", function () {
                var subCat = this;
                $.ajax({
                    url: "ReturnJsonSubCategories/?categoryId=" + $(subCat).val(),
                    type: "GET",
                    contentType: "application/json; charset=utf-8",
                    datatype: JSON,
                    success: function (result) {
                        var categories = "";
                        $(result).each(function () {
                            categories = categories + '<option value="' + this.subCategoryId + '">' + this.name + '</option>'
                        });

                        var subCateList = $("#selectSubCategroy");
                        subCateList.empty();
                        subCateList.append(categories);
                    },
                    error: function (data) {
                        return "Error";
                    }
                });
            });
        });
    </script>*@

    <script>
        $(function () {
            $('#mylink').click(function () {
                $('#ToDisplayResult').load(this.href);
                return false;
            });
        });
    </script>


    <script>
        function SelectCat(CategoryId) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("Edit2", "Newsletter")',
                data: { CatId: CategoryId },
                success: function (result) {
                    $('#ToDisplayResult').html(result);
                },

                error: function (abc) {
                    alert(abc.statusText);
                },
            });

        }
    </script>


     <script>
        function SelectCategory2(CategoryId, newsleterId) {

            $.ajax({
                type: "GET",
                url: '@Url.Action("Edit2", "Newsletter")',
                data: { CatId: CategoryId },
                success: function (result) {
                    $('#ToDisplayResult').html(result);
                },

                error: function (abc) {
                    alert(abc.statusText);
                },
            });
        }
    </script>

        <script>
        tinymce.init({
            selector: '#editor2',  // change this value according to your HTML
            language: 'pl',
            language_url: 'https://partneralluro.hostingasp.pl/js/tinymce/langs/pl.js',  // site absolute URL
            /*    document_base_url: system_url,*/
            relative_urls: false,
            remove_script_host: false,
            convert_urls: true,
            /*content_css: 'css/Newsletter/newsletter.css',*/
            plugins: 'image code template print preview powerpaste casechange importcss tinydrive searchreplace autolink autosave save directionality advcode visualblocks visualchars fullscreen image link media mediaembed template codesample table charmap hr pagebreak nonbreaking anchor toc insertdatetime advlist lists checklist wordcount tinymcespellchecker a11ychecker imagetools textpattern noneditable help formatpainter permanentpen pageembed charmap tinycomments mentions quickbars linkchecker emoticons advtable export',
            toolbar: [
                "undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck",
                "template image | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat ",
                "|forecolor backcolor | | addcomment showcomments | spellcheckdialog a11ycheck | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat",
                "| link image media table mergetags |"],
            image_list: [
                { title: 'My image', value: '' },
                { title: 'My image', value: '' }
            ],
            templates: [
                { title: 'Szablon1', description: 'Szablon1', url: '\\templates\\template0.html' },
                { title: 'Szablon2', description: 'Szablon2', url: '\\templates\\template2.html' }
            ],
            images_upload_url: '/upload', // this is the upload target URL - our first endpoint
            image_list: '/filelist', // the list of the media files, our second endpoint
            // enable title field in the Image dialog
            image_title: true,
            // enable automatic uploads of images represented by blob or data URIs
            automatic_uploads: true,
            height: "700",
            setup: function (editor) {

                editor.ui.registry.addButton('customInsertButton', {
                    text: 'Wstaw produktyTEST',
                    onAction: function (_) {

                        editor.insertContent('&nbsp;<strong>It\'s my button!</strong>&nbsp;');

                    }
                });

                var toTimeHtml = function (date) {
                    return '<time datetime="' + date.toString() + '">' + date.toDateString() + '</time>';
                };

                editor.ui.registry.addButton('customDateButton', {
                    icon: 'insert-time',
                    tooltip: 'Insert Current Date',
                    disabled: true,
                    onAction: function (_) {
                        editor.insertContent(toTimeHtml(new Date()));
                    },
                    onSetup: function (buttonApi) {
                        var editorEventCallback = function (eventApi) {
                            buttonApi.setDisabled(eventApi.element.nodeName.toLowerCase() === 'time');
                        };
                        editor.on('NodeChange', editorEventCallback);

                        /* onSetup should always return the unbind handlers */
                        return function (buttonApi) {
                            editor.off('NodeChange', editorEventCallback);
                        };
                    }
                });
            },
            // add custom filepicker only to Image dialog
            image_caption: true,
            // add custom filepicker only to Image dialog
            file_picker_types: 'image',
            file_picker_callback: function (cb, value, meta) {
                var input = document.createElement('input');
                input.setAttribute('type', 'file');
                input.setAttribute('accept', 'image/*');

                input.onchange = function () {
                    var file = this.files[0];
                    var reader = new FileReader();

                    reader.onload = function () {
                        var id = 'blobid' + (new Date()).getTime();
                        var blobCache = tinymce.activeEditor.editorUpload.blobCache;
                        var base64 = reader.result.split(',')[1];
                        var blobInfo = blobCache.create(id, file, base64);
                        blobCache.add(blobInfo);

                        // call the callback and populate the Title field with the file name
                        cb(blobInfo.blobUri(), { title: file.name });
                    };
                    reader.readAsDataURL(file);
                };

                input.click();
            }
        });
            </script>


@*<script src="~/js/tinymceNewsletter.js"></script>*@

        <script src="~/dashboard/js/scriptnewsletter.js"></script>  @* tabelki*@
        <script>

            var ile=0;

            function DodajDoNewsletter(ProduktId) {
                ile++;
                //var check = document.getElementById('Nazwa'+ KategoriaID);

                //document.getElementById('Nazwa'+ProduktId).innerHTML = "element";
                //alert('test2');

                var activeEditor = tinyMCE.get('editor2');
                var content = activeEditor.getContent();
                //var content1 = `<div><a href="#"><img src="https://localhost:44315/Images/Aluro_logo-x-300_2.png" alt="Aluro_logo-x-300_2.png" width="583" height="290">tekst</a> ${ProduktId},</div>`;


                activeEditor.setContent("");
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("AddProductNewsletter", "Newsletter")',
                    data: { ProduktId: ProduktId, ile: ile, content: content },
                    success: function (result) {
                        activeEditor.setContent(result);
                    },

                    error: function (abc) {
                        alert(abc.statusText);
                    },
                });
            }
        </script>

        <script src="~/js/tinymceNewsletterEdit.js"></script>

        <script>

            var ile = 0;

            function DodajDoNewsletter2() {

                var activeEditor = tinyMCE.get('editorNewsletter2');
                var content = activeEditor.getContent();
                //var content1 = `<div><a href="#"><img src="https://localhost:44315/Images/Aluro_logo-x-300_2.png" alt="Aluro_logo-x-300_2.png" width="583" height="290">tekst</a> ${ProduktId},</div>`;


                //activeEditor.setContent("");
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("WstawProdukty", "Newsletter")',
                    data: { content: content },
                    success: function (result) {
                        tinymce.activeEditor.execCommand('mceInsertContent', false, result);
                        //activeEditor.setContent(result);
                    },

                    error: function (abc) {
                        alert(abc.statusText);
                    },
                });
            }
        </script>
    }