<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table class="data-table7" style="width: 100%">
                <thead>
                    <tr>
                        <th>Obrazek</th>
                        <th>Nazwa</th>
                        <th>Symbol</th>
                        <th>Cena</th>
                        <th>Ilość</th>
                        <th>Akcje</th>
                    </tr>
                </thead>
                    <tbody>
                        @foreach (var item in ViewData["produkty"] as List<partner_aluro.Models.Product>)
                        {
                        <tr>
                            <td><img src="~/images/produkty/@item.Symbol/@item.ImageUrl" alt="@item.Name" style="width:30px;height:30px;"></td>
                            <td><div id="Nazwa_@item.ProductId">@item.Name</div></td> 
                            <td>@item.Symbol</td>
                            <td><b>@item.CenaProduktu.ToString("C")</b></td>
                            <td><b>@item.Ilosc.ToString()</b></td>
                            <td>
                                <a value="@item.ProductId" class="btn btn-success" onclick="DodajDoNewsletter(@item.ProductId)">Dodaj</a>
                            </td>
                        </tr>
                        }
                    </tbody>
            </table>
        </div>
    </div>
</div>