@model partner_aluro.Models.Newsletter

@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}



Nesletter zostanie wysyłany do uzytkowników z aktywną subskrypcją.

@if (@Model != null )
{
    <div class="row">
        <div class="col-md-12 mb-3">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="userTable" class="display" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Data założenia</th>
                                    <th>Imię Nazwisko</th>
                                    <th>Firma</th>
                                    <th>Newsletter</th>
                                    <th>Email</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int i = 0;
                                    bool pokaz = true;
                                }

                                @foreach (var user in Model.Users)
                                {

                                    pokaz = true;

                                    var checkBoxId = "chk" + user.UserName;

                                    <tr>
                                        <td>@i</td>

                                        @{
                                            i++;
                                        }

                                        <td>@user.DataZałożenia</td>
                                        <td>@user.Imie @user.Nazwisko</td>
                                        <td>@user.NazwaFirmy</td>
                                        <td>

                                            @if (@user.Newsletter == true)
                                            {
                                                <input onclick="AddToNewsletter( '@user.Email' )" type="checkbox" id="@checkBoxId" class="chkclass" checked />
                                            }
                                            else
                                            {
                                                <input onclick="AddToNewsletter( '@user.Email' )" type="checkbox" id="@checkBoxId" class="chkclass" />
                                            }

                                        </td>
                                        <td>@user.Email</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
<a class="btn  btn-success" asp-controller="Newsletter" asp-action="SendEmailDo" asp-route-id="@Model.NewsletterID"> Wyslij </a>

@section Scripts {
    <script>
        function AddToNewsletter(UserName) {
            var check = document.getElementById('chk' + UserName);
            if (check.checked) {
                check = true;
            } else {
                check = false;
            }
            $.ajax({
                type: "POST",
                url: '@Url.Action("AddToNewsletter", "User")',
                data: { UserName: UserName, check: check },
                success: function (result) {

                },

                error: function (abc) {
                    alert(abc.statusText);
                },
            });
        }
    </script>

    <script>
        $(document).ready(function () {
            $('#userTable').DataTable(
                {
                    pageLength: 100,
                    "order": [[0, 'desc']]
                });
        });
    </script>
}