@page
@using partner_aluro.Areas.Identity.Pages.Account
@model LoginModel

@using System.Globalization;
@using partner_aluro.wwwroot.Resources;
@inject LanguageService language



@{
    ViewData["Title"] = @language.Getkey("Zaloguj się");
}

<div class="logoLoginReg">
    <div class="justify-content-center align-items-center" style="height:300px">
        <img id="logoLogin" src="~/img/logo/aluro_logo-x-300_2.png" width="300px" />
    </div>
</div>
<div class="col justify-content-center align-items-center bg-white">
    <section class="p-3 border">
        
            <div class="row">
                <div class="col">
                <a class="dropdown-item" asp-controller="Register" asp-action="ChangeLanguage" asp-route-culture="pl"><img src="~/img/flag/flag_icon_pl.jpg" />  @language.Getkey("Polski")</a>
                 </div>
                <div class="col">
                <a class="dropdown-item" asp-controller="Register" asp-action="ChangeLanguage" asp-route-culture="en-US"><img src="~/img/flag/flag_icon_us.jpg" /> @language.Getkey("Angielski")</a>
                </div>
                <div class="col">
                <a class="dropdown-item" asp-controller="Register" asp-action="ChangeLanguage" asp-route-culture="de-DE"><img src="~/img/flag/flag_icon_de.jpg" /> @language.Getkey("Niemiecki")</a>
                </div>
            </div>
        <form id="account" method="post" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                <label asp-for="Input.Password" class="form-label">@language.Getkey("Hasło")</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div>
                <div class="checkbox">
                    <label asp-for="Input.RememberMe">
                        <input asp-for="Input.RememberMe" />
                        @language.Getkey("zapamietaj mnie")
                    </label>
                </div>
            </div> 


            <div class="row">
                <div class="col-6">
                    <button id="login-submit" type="submit" class="w-100 btn btn-md btn-primary">@language.Getkey("Zaloguj się")</button>
                    @foreach (var provider in Model.ExternalLogins)
                    {
                        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                    }
                </div>


                <div class="col-6">
                    <a class="w-100 btn btn-md btn-success" asp-page="./Register" asp-route-pass="@Model.pass2" asp-route-email="Input.Email" asp-route-returnUrl="@Model.ReturnUrl">@language.Getkey("Utwórz nowe konto")</a>
                </div>
            </div>
            <div>
                <p>
                    <a id="forgot-password" asp-page="./ForgotPassword">@language.Getkey("Zapomniałeś hasło?")</a>
                </p>
                @* <p>
                    <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Wyślij wiadomość przypominającą </a>
                </p>*@
            </div>
        </form>
    </section>
</div>
@section Scripts {
    @*<partial name="_ValidationScriptsPartial" />*@
}
