@page

@inject LanguageService language

@model RegisterModel
@{
    ViewData["Title"] = "Załóż konto - zostań naszym partnerem";
}

<div class="logoLoginReg">
    <div class="justify-content-center align-items-center" style="height:200px">
        <img id="logoLogin2" src="~/img/logo/aluro_logo-x-300_2.png" width="300px" />
    </div>
</div>
<div class="row col-12 align-content-center justify-content-center">
    <form class="needs-validation" id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" novalidate style="width:500px">
        <div class="form-group row align-content-center justify-content-center">
            <div class="col" style="max-width:500px">
            <h6>@language.Getkey("STWÓRZ KONTO")</h6>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            </div>
        </div>
        <hr />
        <h6 class="text-center">@language.Getkey("PROFIL DZIAŁALNOŚCI")</h6>
        <hr />

        <div class="form-group row align-content-center justify-content-center">
            <div class="col" style="max-width:500px">
                <select asp-for="Input.IdProfildzialalnosci" class="form-control" asp-items="(IEnumerable<SelectListItem>)@ViewData["Profile"]" required></select>
            <label class="row" asp-for="Input.IdProfildzialalnosci"></label>
        </div>
        </div>

            <div class="form-group row align-content-center justify-content-center">
            <label class="col col-form-label custom-label required" style="max-width:140px" asp-for="Input.Imie">@language.Getkey("Imię")</label>
                <div class="col" style="max-width:300px">
                <input asp-for="Input.Imie" class="form-control" autocomplete="nazwisko" aria-required="true" required />
                <span asp-validation-for="Input.Imie" class="text-danger"></span>
                </div>
            </div>

        <div class="form-group row align-content-center justify-content-center">
            <label class="col col-form-label custom-label required" style="max-width:140px" asp-for="Input.Nazwisko">@language.Getkey("Nazwisko")</label>
            <div class="col" style="max-width:300px">
                <input asp-for="Input.Nazwisko" class="form-control" autocomplete="nazwisko" aria-required="true" required />
                <span asp-validation-for="Input.Nazwisko" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row align-content-center justify-content-center">
            <label class="col col-form-label custom-label required" style="max-width:140px" asp-for="Input.Email">@language.Getkey("Email")</label>
            <div class="col" style="max-width:300px">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" required/>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
            </div>
        <div class="form-group row align-content-center justify-content-center">
            <label class="col col-form-label custom-label required" style="max-width:140px" asp-for="Input.Password">@language.Getkey("Hasło")</label>
            <div class="col" style="max-width:300px">
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" value="@ViewData["pass"]" required/>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                   </div>
            </div>
        <div class="form-group row align-content-center justify-content-center">

            <label class="col col-form-label custom-label required" style="max-width:140px" asp-for="Input.ConfirmPassword">@language.Getkey("Powtórz hasło")</label>
            <div class="col" style="max-width:300px">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" required/>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row align-content-center justify-content-center">
            <label class="col col-form-label custom-label required" style="max-width:140px" asp-for="Input.Telefon1">@language.Getkey("Telefon")</label>
            <div class="col" style="max-width:300px">
                <input asp-for="Input.Telefon1" class="form-control" autocomplete="Telefon1" aria-required="true" required />
                <span asp-validation-for="Input.Telefon1" class="text-danger"></span>
            </div>
        </div>

        <hr />
        <h6 class="text-center">@language.Getkey("DANE ROZLICZENIOWE FIRMY")</h6>
        <hr />
        

        <div class="form-group row align-content-center justify-content-center">
                    <span id="komunikat" class="text-danger text-center">@Model.komunikat</span>
            <label class="col col-form-label custom-label required" style="max-width:140px" asp-for="Input.NIP">@language.Getkey("Nr NIP")</label>
            <div class="col" style="max-width:300px">
                <input asp-for="Input.NIP" class="form-control" id="floatingInputVAT" placeholder="Nr NIP" value="@Model._model.Vat" required />

                <span asp-validation-for="Input.NIP" class="text-danger"></span>
                @*<button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Szukaj po NIP</button>
            *@
            </div>
        </div>
@*    </form>    
                <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">*@


        <div id="dane_firmy">
            <div class="form-floating flex-grow-1">

                    <div class="form-group row align-content-center justify-content-center">
                        <label class="col col-form-label custom-label required" style="max-width:140px" asp-for="Input.NazwaFirmy">@language.Getkey("Nazwa Firmy")</label>
                        <div class="col" style="max-width:300px">
                            <input id="NazwaFirmy"  id="disabledInput" asp-for="Input.NazwaFirmy" class="form-control" autocomplete="NazwaFirmy" aria-required="true" value="@Model._model.Name" />
                        </div>
                    </div>
                    <div class="form-group row align-content-center justify-content-center">
                        <label class="col col-form-label custom-label required" style="max-width:140px" asp-for="Input.Ulica">@language.Getkey("Ulica")</label>
                        <div class="col" style="max-width:300px">
                            <input  id="adres" id="disabledInput" asp-for="Input.Ulica" class="form-control" autocomplete="Ulica" aria-required="true" value="@Model._model.Ulica" />
                        </div>
                    </div>
                    <div class="form-group row align-content-center justify-content-center">
                        <label class="col col-form-label custom-label required" style="max-width:140px" asp-for="Input.Miasto">@language.Getkey("Miasto")</label>
                        <div class="col" style="max-width:300px">
                            <input  id="miasto" id="disabledInput" asp-for="Input.Miasto" class="form-control" autocomplete="miasto" aria-required="true" value="@Model._model.Miejscowosc" />
                        </div>
                    </div>
                    <div class="form-group row align-content-center justify-content-center">
                        <label class="col col-form-label custom-label required" style="max-width:140px" asp-for="Input.KodPocztowy1">@language.Getkey("Kod pocztowy")</label>
                        <div class="col" style="max-width:300px">
                            <input  id="kod_pocztowy" id="disabledInput" asp-for="Input.KodPocztowy1" class="form-control" autocomplete="KodPocztowy1" aria-required="true" value="@Model._model.KodPocztowy" />
                        @* <span asp-validation-for="Input.KodPocztowy1" class="text-danger"></span>*@
                        </div>
                    </div>
                <div class="form-group row align-content-center justify-content-center">
                     <div class="form-group row">
                        <label class="col required" style="max-width:140px" asp-for="Input.PolitykaPrywatnosci"><a asp-action="Privacy" asp-controller="Register" target="_blank"> @language.Getkey("Polityka Prywatności") </a></label>
                        <div class="col" style="max-width:100px">
                            <input type="checkbox" asp-for="Input.PolitykaPrywatnosci" id="Input.PolitykaPrywatnosci" name="Input.PolitykaPrywatnosci" value="true">
                            <input name="Input.PolitykaPrywatnosci" type="hidden" value="false" />
                            <span asp-validation-for="Input.PolitykaPrywatnosci" class="text-danger"></span>
                        </div>
                        <label class="col required" style="max-width:140px" asp-for="Input.Miasto">@language.Getkey("Newsletter")</label>
                        <div class="col" style="max-width:100px">
                            <input type="checkbox" asp-for="Input.Newsletter" aria-required="true" checked="checked" disabled>
                        </div>
                    </div>
                </div>
                    <hr />
                    <div class="form-group row align-content-center justify-content-center" >
                    <div class="col-6 text-start">
                        <a class="btn btn-md btn-primary w-20" asp-page="./logowanie" asp-route-returnUrl="@Model.ReturnUrl" >@language.Getkey("Powrót")</a>
                        </div>
                        <div class="col-6 text-end">
                            <button id="registerSubmit" type="submit" class="w-20 btn btn-success">@language.Getkey("Stwórz konto ")</button>
                        </div>
                    </div>


                <hr />
            </div>

        </div>
    </form>               

</div>


@section Scripts {
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script>
        $(function () {
            $("#floatingInputVAT").on("keyup change", function(e) {

                var Vat = $("#floatingInputVAT").val();

                if(Vat.length > 9)
                {
                    //alert(Vat.length);

                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("SprawdzNIP","Register")',
                        data: { Vat: Vat },
                        success: function (result) {

                            document.getElementById("komunikat").value = result[0];
                            document.getElementById("NazwaFirmy").value = result[1];
                            document.getElementById("adres").value = result[2];
                            document.getElementById("miasto").value = result[3];
                            document.getElementById("kod_pocztowy").value = result[4];
                            //$("#dane_firmy").load(location.href + " #dane_firmy");
                        },

                        error: function (abc) {
                            alert(abc.statusText);
                        },

                        
                    });
                }
            });
        });
    </script>

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
    })()
</script>

    <partial name="_ValidationScriptsPartial" />
}
