@model IEnumerable<partner_aluro.Models.ProfilDzialalnosci>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
<p>
    <a class="btn btn-success" asp-action="Create">Dodaj nowy profil</a>
</p>
<table id="ProfilTable" class="display" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NazwaProfilu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rabat)
            </th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NazwaProfilu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rabat)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new { Id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { Id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { Id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts {
    <script>
        $(document).ready(function () {
            $('#ProfilTable').DataTable(
                {
                    "order": [[0, 'desc']]
                });
        });
    </script>
}