@model IEnumerable<Category>
@inject LanguageService language

@*<div class="owl-one owl-carousel">*@
<div class="owl-carousel">
    @{
        string pokaz = "d-none";
        string pokaz2 = "d-none";
    }

        @foreach (var kategorie in Model.Where(x=> x.ParentId == 0))
        {

        @if (kategorie.Aktywny == true)
        {
            var active = "";

            var activecat2 = "";

            if (ViewData["szukanaNazwa"] != null)
            {
                if (@kategorie.Name.ToString() == ViewData["szukanaNazwa"].ToString())
                {
                    active = "active";
                }
            }

            @if (kategorie.ParentId == 0)
            {
                pokaz = "";
            }else
            {
                pokaz = "d-none hidden";
            }

            @if (kategorie.ChildId == 2)
            {
                pokaz2 = "d-none hidden";
            }
            else
            {
                pokaz2 = "";
            }

            <div class="dropdown item px-1 mx-1">
            <a href="@Url.Action("Lista1","Category", new {KategoriaId = @kategorie.CategoryId})" class="@pokaz @active catmenu text-white mainmenu" style="border-radius:20px; width: 100px; height:100px; max-height: 100px;" aria-expanded="false">
                @*<a href="@Url.Action("Lista1","Category", new {KategoriaId = @kategorie.CategoryId})" class="@pokaz @active catmenu text-black mainmenu" style="border-radius:50px; height:100px; border:1px solid black;" aria-expanded="false">*@
                    @language.Getkey(kategorie.Name)
                </a>
                @if (kategorie.ChildId == 1 && Model.Count() >= 1)
                {
                <a class="@pokaz2 rozwin" href="#" role="button" id="@kategorie.CategoryId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-arrow-down"></i></a>
                    <ul class="dropdown-menu" style="z-index:2000">
                        @foreach (var kategorie2 in Model)
                        {
                            if (ViewData["szukanaNazwa"] != null)
                            {
                                if (@kategorie2.Name == ViewData["szukanaNazwa"].ToString())
                                {
                                    activecat2 = "activecat2";
                                }
                                else
                                {
                                    activecat2 = "";
                                }
                            }

                            @if (kategorie2.ParentId == kategorie.CategoryId)
                            {
                            <li class="menu_kat" style="width:241px;">
                                <a class="@activecat2  kategoria_class_menu" href="@Url.Action("Lista1","Category", new {KategoriaId = kategorie2.CategoryId})">
                                    @language.Getkey(kategorie2.Name)
                                </a>
                            </li>
                            }

                        }
                    </ul>
                }
                else
                {
                }
            </div>
        }
    }
</div>
