@model IEnumerable<Category>

<nav class="navbar navbar-expand-lg navbar-light">


    @foreach (var kategorie in Model)
    {
        var active = "";

        var active2 = "";

        if (@kategorie.CategoryId == ViewBag.KategoriaId)
        {
            active = "active";
        }

        @if (kategorie.Aktywny == true)
        {

            <div class="dropdown p-1">

                <a href="@Url.Action("Lista1","Category", new {KategoriaId = kategorie.CategoryId})" class="@active catmenu text-white mainmenu" style="border-radius:20px; width: 100px; height:100px; max-height: 100px;" aria-expanded="false">
                        @kategorie.Name
                </a>

                @if (kategorie.SubCategories.Count >= 1)
                {
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                    @foreach (var kategorie2 in kategorie.SubCategories)
                    {
                        if (@kategorie2.SubCategoryId == ViewBag.KategoriaId2)
                        {
                            active2 = "active";
                        }
                        else
                        {
                            active2 = "";
                        }
                        <li>
                                <a class="@active2 text-white dropdown-item" href="@Url.Action("Lista1Sub","Category", new {KategoriaId = kategorie2.SubCategoryId})">
                                @kategorie2.Name
                            </a>
                        </li>
                    }
                    </ul>
                }
            </div>
        }
    }
</nav>
