@*@model Export_products*@

@model ProductXML
@{
    ViewData["Title"] = "Lista kategori";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<div>@Model.Symbol</div>

<div class=" row">@Model.Cechy</div>

<div class=" row">

</div>
@*
<div class="row">
    <div class="col border-1">Symbol</div>
    <div class="col border-1">Product_name </div>
    <div class="col border-1">Images </div>
</div>
@foreach (var item in @Model.Product)
{
    <div class="row">
        <div class="col border-1">@item.Symbol</div>
        <div class="col border-1">@item.Product_name </div>
        <div class="col border-1">@item.Images </div>
    </div>
}
*@