@model partner_aluro.ViewModels.CartStatusModel

@using Microsoft.AspNetCore.Identity;
@using partner_aluro.ViewComponents;
@using partner_aluro.Models;
@using partner_aluro.Core;
@using System.Globalization;
@using partner_aluro.wwwroot.Resources;
@inject Cart _cart
@inject LanguageService language

@if(Model.Cart.CartItems.Count > 0)
{
    <div class="row bg-light">
        <div class="col border text-center fw-bold" style="max-width: 75px;"></div>
        <div class="col border text-center fw-bold  text-wrap text-break">@language.Getkey("Produkt")</div>
        <div class="col border text-center fw-bold" style="max-width: 75px;">@language.Getkey("Ilość")</div>
        <div class="col border text-center fw-bold" style="max-width: 60px;">@language.Getkey("Usuń")</div>
    </div>
    @foreach (var item in Model.Cart.CartItems)
    {
        <div class="row">
            @{

                var Cena_brutto = item.Product.CenaProduktuBrutto;
                if(item.Product.Promocja == true)
                {
                    Cena_brutto = item.Product.CenaPromocyja;
                }

                var CenaJednostkowa_netto = item.Product.CenaProduktuBrutto / partner_aluro.Core.Constants.Vat;

                var CenaJednostkowa_brutto = Cena_brutto;

                if (partner_aluro.Core.Constants.Rabat >= 0)
                {

                    if (item.Product.Promocja == true)
                    {
                        CenaJednostkowa_netto = item.Product.CenaPromocyja;
                    }
                    else
                    {
                        CenaJednostkowa_netto = item.Product.CenaProduktuBrutto / (1 - (partner_aluro.Core.Constants.Rabat / 100));
                        CenaJednostkowa_brutto = Cena_brutto * (1 - (partner_aluro.Core.Constants.Rabat / 100));
                    }
                }

                var ProductTotal = CenaJednostkowa_brutto * item.Quantity;
            }
            <div class="col border border-top-0" style="max-width: 75px; width:75px">
                <img src="~/img/p/@item.Product.Symbol/@item.Product.ImageUrl" style="height: 4em">
            </div>
            <div class="col border border-top-0 text-center wrapper">
                <p class="text-max text-wrap text-break">
                    @item.Product.Symbol <br>
                    <a class="text-black link-dark" asp-controller="Product" asp-action="Details" asp-route-id="@item.Product.ProductId">@language.Getkey(@item.Product.Name)</a><br>
                    @language.GetCurrently(@CenaJednostkowa_brutto, Constants.myNumberFormatInfo).ToString("C",Constants.myNumberFormatInfo)
                </p>
            </div>
            <div class="col border border-top-0 text-center" style="max-width: 75px; width:75px">
                <a onclick="ReduceQuantity(@item.Product.ProductId)"><i class="fa-solid fa-minus"></i></a>
                @item.Quantity.ToString("0.###########################")
                <a onclick="IncreaseQuantity(@item.Product.ProductId, @item.Quantity)"><i class="fa-solid fa-plus"></i></a>
            </div>
            <div class="col border border-top-0 text-center" style="max-width: 60px">
                <a onclick="RemoveFromCart(@item.Product.ProductId)" class="text-danger"><i class="fa-solid fa-xmark"></i></a>
            </div>
        </div>
    }
    <div class="row">
        <div class="text-end">
            @language.Getkey("Wartość (brutto)"): <strong>@language.GetCurrently(@Model.Cart.GetCartTotalBrutto(), Constants.myNumberFormatInfo).ToString("C",Constants.myNumberFormatInfo)</strong>
        </div>
        <div class="text-end">
            @language.Getkey("Razem (netto)"): <strong>@language.GetCurrently(@Model.Cart.GetCartTotalNetto(), Constants.myNumberFormatInfo).ToString("C",Constants.myNumberFormatInfo)</strong>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">

            <a class="btn btn-success" asp-controller="Cart" asp-action="ZlozZamowienie">@language.Getkey("Złóż zamówienie")</a>

        </div>
    </div>


 }else
{
    <h3 class="text-center">@language.Getkey("Koszyk jest pusty")</h3>
}