@model partner_aluro.ViewModels.UserStatusModel

@using Microsoft.AspNetCore.Identity
@using partner_aluro.ViewComponents;
@using partner_aluro.Models;
@using partner_aluro.wwwroot.Resources;

@inject SignInManager<ApplicationUser> SignInManager
@*@inject UserManager<ApplicationUser> UserManager*@
@inject LanguageService language

@if (SignInManager.IsSignedIn(User))
{
    <div class="nav-item nav-link text-center">
        <span class="text-white">@language.Getkey("Witaj")</span> <span class="text-warning">@Model.Imie @Model.Nazwisko</span>
        @if (Model.Profil != null && Model.Profil.Rabat != 0)
            {
                <span class="text-white ">
                @language.Getkey("Twój rabat: ") @Model.Profil.Rabat %
                </span>
            }
            else{
                ;
            }
    </div>
}
else
{
    <p> Nie jestes zalogowany </p>
}